In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import os

In [3]:
df_1 = pd.read_csv('Data\ADAS_ADNI1_31Jan2024.csv')
df_1.head()

,Phase,ID,PTID,RID,SITEID,VISCODE,USERDATE,USERDATE2,EXAMDATE,COT1LIST,...,COP8COMP,COINSTRC,COCOMPRE,COWRDFND,COLANG,CONMCXLA,CONMCXLB,CONMCXLC,COP14CMP,update_stamp
0,ADNI1,4,011_S_0002,2,107,bl,2005-09-09,NaN,2005-09-08,1:2:7:8:9,...,-4,1,1,1,1,12,0,0,-4,2005-09-09 00:00:00.0
1,ADNI1,6,011_S_0005,5,107,bl,2005-09-09,NaN,2005-09-07,1:2:3:7:9,...,-4,1,1,1,1,16,0,0,-4,2005-09-09 00:00:00.0
2,ADNI1,8,011_S_0003,3,107,bl,2005-09-13,NaN,2005-09-12,7:09:10,...,-4,1,1,3,1,20,0,0,-4,2005-09-13 00:00:00.0
3,ADNI1,10,011_S_0008,8,107,bl,2005-09-26,NaN,2005-09-19,1:2:4:5:7:8:9:10,...,-4,1,1,1,1,23,0,0,-4,2005-09-26 00:00:00.0
4,ADNI1,12,022_S_0007,7,10,bl,2005-10-06,NaN,2005-10-06,-4,...,-4,1,2,2,2,11,1,1,-4,2005-10-06 00:00:00.0

In [4]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3873 entries, 0 to 3872
Data columns (total 85 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phase         3873 non-null   object
 1   ID            3873 non-null   int64
 2   PTID          3873 non-null   object
 3   RID           3873 non-null   int64
 4   SITEID        3873 non-null   int64
 5   VISCODE       3873 non-null   object
 6   USERDATE      3873 non-null   object
 7   USERDATE2     172 non-null    object
 8   EXAMDATE      3873 non-null   object
 9   COT1LIST      3873 non-null   object
 10  COT2LIST      3873 non-null   object
 11  COT3LIST      3873 non-null   object
 12  COT1SCOR      3873 non-null   int64
 13  COT2SCOR      3873 non-null   int64
 14  COT3SCOR      3873 non-null   int64
 15  COP1COMP      3873 non-null   int64
 16  COCOMND       3873 non-null   object
 17  COP2COMP      3873 non-null   int64
 18  COCONSTR      3873 non-null   object
 19  COP3COMP      3873 non-null   int64
 20  COT4LIST      3873 non-null   object
 21  COT4TOTL      3873 non-null   int64
 22  COP4COMP      3873 non-null   int64
 23  CONAME        3873 non-null   object
 24  COP5COMP      3873 non-null   int64
 25  COIDEA        3873 non-null   object
 26  COP6COMP      3873 non-null   int64
 27  COORIEN       3873 non-null   object
 28  COP7COMP      3873 non-null   int64
 29  CO8NURSE      3873 non-null   int64
 30  CO8MAGAZ      3873 non-null   int64
 31  CO8WIZRD      3873 non-null   int64
 32  CO8WIZRR      3873 non-null   int64
 33  CO8VAN        3873 non-null   int64
 34  CO8VANR       3873 non-null   int64
 35  CO8LEPRD      3873 non-null   int64
 36  CO8LEPRR      3873 non-null   int64
 37  CO8SALE       3873 non-null   int64
 38  CO8SALER      3873 non-null   int64
 39  CO8SEA        3873 non-null   int64
 40  CO8SEAR       3873 non-null   int64
 41  CO8TRAIN      3873 non-null   int64
 42  CO8TRAIR      3873 non-null   int64
 43  CO8COIN       3873 non-null   int64
 44  CO8COINR      3873 non-null   int64
 45  CO8SHIP       3873 non-null   int64
 46  CO8SHIPR      3873 non-null   int64
 47  CO8INST       3873 non-null   int64
 48  CO8INSTR      3873 non-null   int64
 49  CO8MAP        3873 non-null   int64
 50  CO8MAPR       3873 non-null   int64
 51  CO8AXE        3873 non-null   int64
 52  CO8AXER       3873 non-null   int64
 53  CO8BOARD      3873 non-null   int64
 54  CO8BOARR      3873 non-null   int64
 55  CO8CARRT      3873 non-null   int64
 56  CO8CARRR      3873 non-null   int64
 57  CO8MILK       3873 non-null   int64
 58  CO8MILKR      3873 non-null   int64
 59  CO8VOL        3873 non-null   int64
 60  CO8VOLR       3873 non-null   int64
 61  CO8FORST      3873 non-null   int64
 62  CO8FORSR      3873 non-null   int64
 63  CO8ANCHR      3873 non-null   int64
 64  CO8ANCRR      3873 non-null   int64
 65  CO8GEM        3873 non-null   int64
 66  CO8GEMR       3873 non-null   int64
 67  CO8CAT        3873 non-null   int64
 68  CO8CATR       3873 non-null   int64
 69  CO8FUND       3873 non-null   int64
 70  CO8FUNDR      3873 non-null   int64
 71  CO8EDGE       3873 non-null   int64
 72  CO8EDGER      3873 non-null   int64
 73  CO8CAKE       3873 non-null   int64
 74  CO8CAKER      3873 non-null   int64
 75  COP8COMP      3873 non-null   int64
 76  COINSTRC      3873 non-null   int64
 77  COCOMPRE      3873 non-null   int64
 78  COWRDFND      3873 non-null   int64
 79  COLANG        3873 non-null   int64
 80  CONMCXLA      3873 non-null   int64
 81  CONMCXLB      3873 non-null   int64
 82  CONMCXLC      3873 non-null   int64
 83  COP14CMP      3873 non-null   int64
 84  update_stamp  3873 non-null   object
dtypes: int64(69), object(16)
memory usage: 2.5+ MB

In [5]:
directory = 'Data'

columns = list()
features = {}
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    if os.path.isfile(f):
        df = pd.read_csv(f)
        for column in df.columns.tolist():
            if column not in columns:
                columns.append(column)
                features[column] = df[column].to_numpy()
            else:
                features[column] = np.concatenate((features[column], df[column].to_numpy()))

C:\Users\watermana\AppData\Local\Temp\ipykernel_29192\2945868421.py:8: DtypeWarning: Columns (10,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)

In [6]:
for column in columns:
    print(column)

ID
RID
PTID
SITEID
VISCODE
USERDATE
USERDATE2
EXAMDATE
Q1
Q2
Q3
Q4
Q5
Q6
Q7
Q8
Q9
Q10
Q11
Q12
Q14
TOTAL11
TOTALMOD
update_stamp
Phase
COT1LIST
COT2LIST
COT3LIST
COT1SCOR
COT2SCOR
COT3SCOR
COP1COMP
COCOMND
COP2COMP
COCONSTR
COP3COMP
COT4LIST
COT4TOTL
COP4COMP
CONAME
COP5COMP
COIDEA
COP6COMP
COORIEN
COP7COMP
CO8NURSE
CO8MAGAZ
CO8WIZRD
CO8WIZRR
CO8VAN
CO8VANR
CO8LEPRD
CO8LEPRR
CO8SALE
CO8SALER
CO8SEA
CO8SEAR
CO8TRAIN
CO8TRAIR
CO8COIN
CO8COINR
CO8SHIP
CO8SHIPR
CO8INST
CO8INSTR
CO8MAP
CO8MAPR
CO8AXE
CO8AXER
CO8BOARD
CO8BOARR
CO8CARRT
CO8CARRR
CO8MILK
CO8MILKR
CO8VOL
CO8VOLR
CO8FORST
CO8FORSR
CO8ANCHR
CO8ANCRR
CO8GEM
CO8GEMR
CO8CAT
CO8CATR
CO8FUND
CO8FUNDR
CO8EDGE
CO8EDGER
CO8CAKE
CO8CAKER
COP8COMP
COINSTRC
COCOMPRE
COWRDFND
COLANG
CONMCXLA
CONMCXLB
CONMCXLC
COP14CMP
VISCODE2
VISDATE
WORDLIST
Q1UNABLE
Q1TR1
Q1TR2
Q1TR3
Q1TRIT
Q1TR2T
Q1TRT
Q1SCORE
TIMEEND
Q2UNABLE
Q2TASK
Q2SCORE
Q3UNABLE
Q3TASK1
Q3TASK2
Q3TASK3
Q3TASK4
Q3SCORE
Q4UNABLE
TIMEBEGAN
Q4TASK
Q4SCORE
Q5UNABLE
Q5TASK
Q5SCORE
Q5NAME1
Q5NAME2
Q5NAME3
Q5NAME4
Q5NAME5
Q5NAME6
Q5NAME7
Q5NAME8
Q5NAME9
Q5NAME10
Q5NAME11
Q5NAME12
Q5FINGER
Q5SCORE_CUE
Q6UNABLE
Q6TASK
Q6SCORE
Q7UNABLE
Q7TASK
Q7SCORE
Q8UNABLE
Q8WORD1
Q8WORD1R
Q8WORD2
Q8WORD2R
Q8WORD3
Q8WORD3R
Q8WORD4
Q8WORD4R
Q8WORD5
Q8WORD5R
Q8WORD6
Q8WORD6R
Q8WORD7
Q8WORD7R
Q8WORD8
Q8WORD8R
Q8WORD9
Q8WORD9R
Q8WORD10
Q8WORD10R
Q8WORD11
Q8WORD11R
Q8WORD12
Q8WORD12R
Q8WORD13
Q8WORD13R
Q8WORD14
Q8WORD14R
Q8WORD15
Q8WORD15R
Q8WORD16
Q8WORD16R
Q8WORD17
Q8WORD17R
Q8WORD18
Q8WORD18R
Q8WORD19
Q8WORD19R
Q8WORD20
Q8WORD20R
Q8WORD21
Q8WORD21R
Q8WORD22
Q8WORD22R
Q8WORD23
Q8WORD23R
Q8WORD24
Q8WORD24R
Q8SCORE
Q9TASK
Q9SCORE
Q10TASK
Q10SCORE
Q11TASK
Q11SCORE
Q12TASK
Q12SCORE
TOTSCORE
Q13UNABLE
Q13TASKA
Q13TASKB
Q13TASKC
Q13SCORE
TOTAL13
DATE
SOURCE
ProtocolID
SessionID
TestTime
Visit
SessionAttempt
SessionDuration
SessionCompletionPass
SessionPerformancePass
SessionIntegrityPass
TestCode
TestAttempt
TestCompletionScore
TestPerformanceScore
TestCompletionPass
TestPerformancePass
TestIntegrityPass
TestDuration
ReactionTime
RawReactionTime
RTVariability
RawRTVariability
Accuracy
RawAccuracy
TotalCorrect
TotalCorrectExclPant
TotalErrors
LegalErrors
RuleBreakErrors
TotalAnticipatory
TotalPost
TotalMaxOut
TotalResponses
TotalTrials
StandardScoreZ
StandardScoreT
AltStandardScoreZ
AltStandardScoreT
Psyattstdscr
LearnWMStdScr
AltLearnWMStdScr
N1
N2
N3
N4
R1
R2
R3
M1
M2
M3
AXNAUSEA
AXVOMIT
AXDIARRH
AXCONSTP
AXABDOMN
AXSWEATN
AXDIZZY
AXENERGY
AXDROWSY
AXVISION
AXHDACHE
AXDRYMTH
AXBREATH
AXCOUGH
AXPALPIT
AXCHEST
AXURNDIS
AXURNFRQ
AXANKLE
AXMUSCLE
AXRASH
AXINSOMN
AXDPMOOD
AXCRYING
AXELMOOD
AXWANDER
AXFALL
AXOTHER
BCPREDX
BCADAS
BCMMSE
BCMMSREC
BCNMMMS
BCNEUPSY
BCNONMEM
BCFAQ
BCCDR
BCDEPRES
BCSTROKE
BCDELIR
BCEXTCIR
BCCORADL
BCCORCOG
DONE
NDREASON
CCI1
CCI2
CCI3
CCI4
CCI5
CCI6
CCI7
CCI8
CCI9
CCI10
CCI11
CCI12
CCI13
CCI14
CCI15
CCI16
CCI17
CCI18
CCI19
CCI20
CCI12TOT
CDDATE
CDSOURCE
CDVERSION
CDMEMORY
CDORIENT
CDJUDGE
CDCOMMUN
CDHOME
CDCARE
CDGLOBAL
CDRSB
CDSOB
DXCHANGE
DXCURREN
DXCONV
DXCONTYP
DXREV
DXNORM
DXNODEP
DXMCI
DXMDES
DXMPTR1
DXMPTR2
DXMPTR3
DXMPTR4
DXMPTR5
DXMPTR6
DXMDUE
DXMOTHET
DXDSEV
DXDDUE
DXAD
DXADES
DXAPP
DXAPROB
DXAPOSS
DXPARK
DXPDES
DXPCOG
DXPATYP
DXDEP
DXOTHDEM
DXODES
DXCONFID
DIAGNOSIS
CONCERN
MEMORY1
MEMORY2
MEMORY3
MEMORY4
MEMORY5
MEMORY6
MEMORY7
MEMORY8
LANG1
LANG2
LANG3
LANG4
LANG5
LANG6
LANG7
LANG8
LANG9
VISSPAT1
VISSPAT2
VISSPAT3
VISSPAT4
VISSPAT5
VISSPAT6
VISSPAT7
VISSPAT8
PLAN1
PLAN2
PLAN3
PLAN4
PLAN5
ORGAN1
ORGAN2
ORGAN3
ORGAN4
ORGAN5
ORGAN6
DIVATT1
DIVATT2
DIVATT3
DIVATT4
STAFFASST
VALIDITY
EcogPtDivatt
EcogPtLang
EcogPtMem
EcogPtOrgan
EcogPtPlan
EcogPtVisspat
EcogPtTotal
COLDATE
PHASE
EcogSPMem
EcogSPLang
EcogSPVisspat
EcogSPPlan
EcogSPOrgan
EcogSPDivatt
EcogSPTotal
N1M
N1SD
N2M
N2SD
N3M
N3SD
N4M
N4SD
R1M
R1SD
R2M
R2SD
R3M
R3SD
MIFR1M
MIFR1SD
MIFR2M
MIFR2SD
MIFR3M
MIFR3SD
MDFR1M
MDFR1SD
MTranM
MTranSD
MDuraM
MDuraSD
MC_SCORE
FC_SCORE
SNGLCHKSCORE
COMPLXCHKSCORE
CHKCOMPOSTIME
CHKCOMPOSSCORE
BANKSTATSCORE
TOTCOMPTIME
FCISCORE
NICKELS
QUARTERS
BUDGET
EXPMEDINS
INSURANCE
MEDINSTIME
EXPINCTAX
TAXCREDA
QUES5TIME
TAXCREDB
EXPCHECKREG
PAYEE
SNGLCHK7
SNGLCHK8
SNGLCHK9
SNGLCHK10
SNGLCHK11
SNGLCHK12
SNGLCHK13
SNGLCHK14
SNGLCHK15
SNGLCHK16
SNGLCHKTIME
COMPLXCHK17
COMPLXCHK18
COMPLXCHK19
COMPLXCHK20
COMPLXCHK21
COMPLXCHK22
COMPLXCHK23
COMPLXCHK24
COMPLXCHK25
COMPLXCHK26
COMPLXCHK27
COMPLXCHK28
COMPLXCHK29
COMPLXCHK30
COMPLXCHKTIME
BANKSTATA
BANKSTATB
EXPBANKSTATE
BANKSTAT32
BANKSTAT33
BANKSTAT34
BANKSTAT35
BANKSTAT36
BANKSTAT37
GDSOURCE
GDUNABL
GDSATIS
GDDROP
GDEMPTY
GDBORED
GDSPIRIT
GDAFRAID
GDHAPPY
GDHELP
GDHOME
GDMEMORY
GDALIVE
GDWORTH
GDENERGY
GDHOPE
GDBETTER
GDTOTAL
GDDATE
ADAS_QuestionnaireNotAttempted
ADAS_Q1_T1_WL1_W1_butter
ADAS_Q1_T1_WL1_W2_arm
ADAS_Q1_T1_WL1_W3_shore
ADAS_Q1_T1_WL1_W4_letter
ADAS_Q1_T1_WL1_W5_queen
ADAS_Q1_T1_WL1_W6_cabin
ADAS_Q1_T1_WL1_W7_pole
ADAS_Q1_T1_WL1_W8_ticket
ADAS_Q1_T1_WL1_W9_grass
ADAS_Q1_T1_WL1_W10_engine
ADAS_Q1_T2_WL1_W1_pole
ADAS_Q1_T2_WL1_W2_letter
ADAS_Q1_T2_WL1_W3_butter
ADAS_Q1_T2_WL1_W4_queen
ADAS_Q1_T2_WL1_W5_arm
ADAS_Q1_T2_WL1_W6_shore
ADAS_Q1_T2_WL1_W7_grass
ADAS_Q1_T2_WL1_W8_cabin
ADAS_Q1_T2_WL1_W9_ticket
ADAS_Q1_T2_WL1_W10_engine
ADAS_Q1_T3_WL1_W1_shore
ADAS_Q1_T3_WL1_W2_letter
ADAS_Q1_T3_WL1_W3_arm
ADAS_Q1_T3_WL1_W4_cabin
ADAS_Q1_T3_WL1_W5_pole
ADAS_Q1_T3_WL1_W6_ticket
ADAS_Q1_T3_WL1_W7_engine
ADAS_Q1_T3_WL1_W8_grass
ADAS_Q1_T3_WL1_W9_butter
ADAS_Q1_T3_WL1_W10_queen
ADAS_Q1_T1_WL2_W1_bottle
ADAS_Q1_T1_WL2_W2_potato
ADAS_Q1_T1_WL2_W3_girl
ADAS_Q1_T1_WL2_W4_temple
ADAS_Q1_T1_WL2_W5_star
ADAS_Q1_T1_WL2_W6_animal
ADAS_Q1_T1_WL2_W7_forest
ADAS_Q1_T1_WL2_W8_lake
ADAS_Q1_T1_WL2_W9_clock
ADAS_Q1_T1_WL2_W10_office
ADAS_Q1_T2_WL2_W1_forest
ADAS_Q1_T2_WL2_W2_temple
ADAS_Q1_T2_WL2_W3_bottle
ADAS_Q1_T2_WL2_W4_star
ADAS_Q1_T2_WL2_W5_potato
ADAS_Q1_T2_WL2_W6_girl
ADAS_Q1_T2_WL2_W7_clock
ADAS_Q1_T2_WL2_W8_animal
ADAS_Q1_T2_WL2_W9_lake
ADAS_Q1_T2_WL2_W10_office
ADAS_Q1_T3_WL2_W1_girl
ADAS_Q1_T3_WL2_W2_temple
ADAS_Q1_T3_WL2_W3_potato
ADAS_Q1_T3_WL2_W4_animal
ADAS_Q1_T3_WL2_W5_forest
ADAS_Q1_T3_WL2_W6_lake
ADAS_Q1_T3_WL2_W7_office
ADAS_Q1_T3_WL2_W8_clock
ADAS_Q1_T3_WL2_W9_bottle
ADAS_Q1_T3_WL2_W10_star
ADAS_Q1_T1_WL3_W1_coast
ADAS_Q1_T1_WL3_W2_doll
ADAS_Q1_T1_WL3_W3_lip
ADAS_Q1_T1_WL3_W4_chair
ADAS_Q1_T1_WL3_W5_student
ADAS_Q1_T1_WL3_W6_apple
ADAS_Q1_T1_WL3_W7_horse
ADAS_Q1_T1_WL3_W8_pipe
ADAS_Q1_T1_WL3_W9_valley
ADAS_Q1_T1_WL3_W10_rock
ADAS_Q1_T2_WL3_W1_horse
ADAS_Q1_T2_WL3_W2_chair
ADAS_Q1_T2_WL3_W3_coast
ADAS_Q1_T2_WL3_W4_student
ADAS_Q1_T2_WL3_W5_doll
ADAS_Q1_T2_WL3_W6_lip
ADAS_Q1_T2_WL3_W7_valley
ADAS_Q1_T2_WL3_W8_apple
ADAS_Q1_T2_WL3_W9_pipe
ADAS_Q1_T2_WL3_W10_rock
ADAS_Q1_T3_WL3_W1_lip
ADAS_Q1_T3_WL3_W2_chair
ADAS_Q1_T3_WL3_W3_doll
ADAS_Q1_T3_WL3_W4_apple
ADAS_Q1_T3_WL3_W5_horse
ADAS_Q1_T3_WL3_W6_pipe
ADAS_Q1_T3_WL3_W7_rock
ADAS_Q1_T3_WL3_W8_valley
ADAS_Q1_T3_WL3_W9_coast
ADAS_Q1_T3_WL3_W10_student
ADAS_Q1_TimeEnded
ADAS_Q2a
ADAS_Q2b
ADAS_Q2c
ADAS_Q2d
ADAS_Q2e
ADAS_Q3a
ADAS_Q3b
ADAS_Q3c
ADAS_Q3d
ADAS_Q4_TimeBegan
ADAS_Q4_WL1_W1_butter
ADAS_Q4_WL1_W2_arm
ADAS_Q4_WL1_W3_shore
ADAS_Q4_WL1_W4_letter
ADAS_Q4_WL1_W5_queen
ADAS_Q4_WL1_W6_cabin
ADAS_Q4_WL1_W7_pole
ADAS_Q4_WL1_W8_ticket
ADAS_Q4_WL1_W9_grass
ADAS_Q4_WL1_W10_engine
ADAS_Q4_WL2_W1_bottle
ADAS_Q4_WL2_W2_potato
ADAS_Q4_WL2_W3_girl
ADAS_Q4_WL2_W4_temple
ADAS_Q4_WL2_W5_star
ADAS_Q4_WL2_W6_animal
ADAS_Q4_WL2_W7_forest
ADAS_Q4_WL2_W8_lake
ADAS_Q4_WL2_W9_clock
ADAS_Q4_WL2_W10_office
ADAS_Q4_WL3_W1_coast
ADAS_Q4_WL3_W2_doll
ADAS_Q4_WL3_W3_lip
ADAS_Q4_WL3_W4_chair
ADAS_Q4_WL3_W5_student
ADAS_Q4_WL3_W6_apple
ADAS_Q4_WL3_W7_horse
ADAS_Q4_WL3_W8_pipe
ADAS_Q4_WL3_W9_valley
ADAS_Q4_WL3_W10_rock
ADAS_Q5a_Flower
ADAS_Q5a_Bed
ADAS_Q5a_Whistle
ADAS_Q5a_Pencil
ADAS_Q5a_Rattle
ADAS_Q5a_Mask
ADAS_Q5a_Scissors
ADAS_Q5a_Comb
ADAS_Q5a_Wallet
ADAS_Q5a_Harmonica
ADAS_Q5a_Stethoscope
ADAS_Q5a_Tongs
ADAS_Q5b_Thumb
ADAS_Q5b_Middle
ADAS_Q5b_Ring
ADAS_Q5b_Index
ADAS_Q5b_Pinky
ADAS_Q6a
ADAS_Q6b
ADAS_Q6c
ADAS_Q6d
ADAS_Q6e
ADAS_Q7a
ADAS_Q7b
ADAS_Q7c
ADAS_Q7d
ADAS_Q7e
ADAS_Q7f
ADAS_Q7g
ADAS_Q7h
ADAS_Q8_WL1_REC_W1_nurse
ADAS_Q8_WL1_REC_W2_magazine
ADAS_Q8_WL1_REC_W3_wizard
ADAS_Q8_WL1_REC_W4_van
ADAS_Q8_WL1_REC_W5_leopard
ADAS_Q8_WL1_REC_W6_sale
ADAS_Q8_WL1_REC_W7_sea
ADAS_Q8_WL1_REC_W8_train
ADAS_Q8_WL1_REC_W9_coin
ADAS_Q8_WL1_REC_W10_ship
ADAS_Q8_WL1_REC_W11_institution
ADAS_Q8_WL1_REC_W12_map
ADAS_Q8_WL1_REC_W13_axe
ADAS_Q8_WL1_REC_W14_board
ADAS_Q8_WL1_REC_W15_carrot
ADAS_Q8_WL1_REC_W16_milk
ADAS_Q8_WL1_REC_W17_volume
ADAS_Q8_WL1_REC_W18_forest
ADAS_Q8_WL1_REC_W19_anchor
ADAS_Q8_WL1_REC_W20_gem
ADAS_Q8_WL1_REC_W21_cat
ADAS_Q8_WL1_REC_W22_fund
ADAS_Q8_WL1_REC_W23_edge
ADAS_Q8_WL1_REC_W24_cake
ADAS_Q8_WL1_Reminder_W1_nurse
ADAS_Q8_WL1_Reminder_W2_magazine
ADAS_Q8_WL1_Reminder_W3_wizard
ADAS_Q8_WL1_Reminder_W4_van
ADAS_Q8_WL1_Reminder_W5_leopard
ADAS_Q8_WL1_Reminder_W6_sale
ADAS_Q8_WL1_Reminder_W7_sea
ADAS_Q8_WL1_Reminder_W8_train
ADAS_Q8_WL1_Reminder_W9_coin
ADAS_Q8_WL1_Reminder_W10_ship
ADAS_Q8_WL1_Reminder_W11_institution
ADAS_Q8_WL1_Reminder_W12_map
ADAS_Q8_WL1_Reminder_W13_axe
ADAS_Q8_WL1_Reminder_W14_board
ADAS_Q8_WL1_Reminder_W15_carrot
ADAS_Q8_WL1_Reminder_W16_milk
ADAS_Q8_WL1_Reminder_W17_volume
ADAS_Q8_WL1_Reminder_W18_forest
ADAS_Q8_WL1_Reminder_W19_anchor
ADAS_Q8_WL1_Reminder_W20_gem
ADAS_Q8_WL1_Reminder_W21_cat
ADAS_Q8_WL1_Reminder_W22_fund
ADAS_Q8_WL1_Reminder_W23_edge
ADAS_Q8_WL1_Reminder_W24_cake
ADAS_Q8_WL2_REC_W1_cost
ADAS_Q8_WL2_REC_W2_nation
ADAS_Q8_WL2_REC_W3_chimney
ADAS_Q8_WL2_REC_W4_sparrow
ADAS_Q8_WL2_REC_W5_damages
ADAS_Q8_WL2_REC_W6_traffic
ADAS_Q8_WL2_REC_W7_sandwich
ADAS_Q8_WL2_REC_W8_service
ADAS_Q8_WL2_REC_W9_shell
ADAS_Q8_WL2_REC_W10_solution
ADAS_Q8_WL2_REC_W11_yard
ADAS_Q8_WL2_REC_W12_tube
ADAS_Q8_WL2_REC_W13_body
ADAS_Q8_WL2_REC_W14_ground
ADAS_Q8_WL2_REC_W15_stick
ADAS_Q8_WL2_REC_W16_engine
ADAS_Q8_WL2_REC_W17_riches
ADAS_Q8_WL2_REC_W18_gravity
ADAS_Q8_WL2_REC_W19_summer
ADAS_Q8_WL2_REC_W20_wisdom
ADAS_Q8_WL2_REC_W21_man
ADAS_Q8_WL2_REC_W22_meal
ADAS_Q8_WL2_REC_W23_passenger
ADAS_Q8_WL2_REC_W24_acid
ADAS_Q8_WL2_Reminder_W1_cost
ADAS_Q8_WL2_Reminder_W2_nation
ADAS_Q8_WL2_Reminder_W3_chimney
ADAS_Q8_WL2_Reminder_W4_sparrow
ADAS_Q8_WL2_Reminder_W5_damages
ADAS_Q8_WL2_Reminder_W6_traffic
ADAS_Q8_WL2_Reminder_W7_sandwich
ADAS_Q8_WL2_Reminder_W8_service
ADAS_Q8_WL2_Reminder_W9_shell
ADAS_Q8_WL2_Reminder_W10_solution
ADAS_Q8_WL2_Reminder_W11_yard
ADAS_Q8_WL2_Reminder_W12_tube
ADAS_Q8_WL2_Reminder_W13_body
ADAS_Q8_WL2_Reminder_W14_ground
ADAS_Q8_WL2_Reminder_W15_stick
ADAS_Q8_WL2_Reminder_W16_engine
ADAS_Q8_WL2_Reminder_W17_riches
ADAS_Q8_WL2_Reminder_W18_gravity
ADAS_Q8_WL2_Reminder_W19_summer
ADAS_Q8_WL2_Reminder_W20_wisdom
ADAS_Q8_WL2_Reminder_W21_man
ADAS_Q8_WL2_Reminder_W22_meal
ADAS_Q8_WL2_Reminder_W23_passenger
ADAS_Q8_WL2_Reminder_W24_acid
ADAS_Q8_WL3_REC_W1_silence
ADAS_Q8_WL3_REC_W2_elbow
ADAS_Q8_WL3_REC_W3_daughter
ADAS_Q8_WL3_REC_W4_powder
ADAS_Q8_WL3_REC_W5_canal
ADAS_Q8_WL3_REC_W6_forehead
ADAS_Q8_WL3_REC_W7_tiger
ADAS_Q8_WL3_REC_W8_twilight
ADAS_Q8_WL3_REC_W9_dragon
ADAS_Q8_WL3_REC_W10_chamber
ADAS_Q8_WL3_REC_W11_sister
ADAS_Q8_WL3_REC_W12_beggar
ADAS_Q8_WL3_REC_W13_echo
ADAS_Q8_WL3_REC_W14_nephew
ADAS_Q8_WL3_REC_W15_duty
ADAS_Q8_WL3_REC_W16_village
ADAS_Q8_WL3_REC_W17_corner
ADAS_Q8_WL3_REC_W18_olive
ADAS_Q8_WL3_REC_W19_music
ADAS_Q8_WL3_REC_W20_courage
ADAS_Q8_WL3_REC_W21_bushel
ADAS_Q8_WL3_REC_W22_ribbon
ADAS_Q8_WL3_REC_W23_object
ADAS_Q8_WL3_REC_W24_collar
ADAS_Q8_WL3_Reminder_W1_silence
ADAS_Q8_WL3_Reminder_W2_elbow
ADAS_Q8_WL3_Reminder_W3_daughter
ADAS_Q8_WL3_Reminder_W4_powder
ADAS_Q8_WL3_Reminder_W5_canal
ADAS_Q8_WL3_Reminder_W6_forehead
ADAS_Q8_WL3_Reminder_W7_tiger
ADAS_Q8_WL3_Reminder_W8_twilight
ADAS_Q8_WL3_Reminder_W9_dragon
ADAS_Q8_WL3_Reminder_W10_chamber
ADAS_Q8_WL3_Reminder_W11_sister
ADAS_Q8_WL3_Reminder_W12_beggar
ADAS_Q8_WL3_Reminder_W13_echo
ADAS_Q8_WL3_Reminder_W14_nephew
ADAS_Q8_WL3_Reminder_W15_duty
ADAS_Q8_WL3_Reminder_W16_village
ADAS_Q8_WL3_Reminder_W17_corner
ADAS_Q8_WL3_Reminder_W18_olive
ADAS_Q8_WL3_Reminder_W19_music
ADAS_Q8_WL3_Reminder_W20_courage
ADAS_Q8_WL3_Reminder_W21_bushel
ADAS_Q8_WL3_Reminder_W22_ribbon
ADAS_Q8_WL3_Reminder_W23_object
ADAS_Q8_WL3_Reminder_W24_collar
ADAS_Q9
ADAS_Q10
ADAS_Q11
ADAS_Q12
ADAS_Q13a
ADAS_Q13b
ADAS_Q13c
ADAS_ExamDate
ANART_QuestionnaireNotAttempted
ANART_Q1
ANART_Q2
ANART_Q3
ANART_Q4
ANART_Q5
ANART_Q6
ANART_Q7
ANART_Q8
ANART_Q9
ANART_Q10
ANART_Q11
ANART_Q12
ANART_Q13
ANART_Q14
ANART_Q15
ANART_Q16
ANART_Q17
ANART_Q18
ANART_Q19
ANART_Q20
ANART_Q21
ANART_Q22
ANART_Q23
ANART_Q24
ANART_Q25
ANART_Q26
ANART_Q27
ANART_Q28
ANART_Q29
ANART_Q30
ANART_Q31
ANART_Q32
ANART_Q33
ANART_Q34
ANART_Q35
ANART_Q36
ANART_Q37
ANART_Q38
ANART_Q39
ANART_Q40
ANART_Q41
ANART_Q42
ANART_Q43
ANART_Q44
ANART_Q45
ANART_Q46
ANART_Q47
ANART_Q48
ANART_Q49
ANART_Q50
ANART_ExamDate
AVLT_QuestionnaireNotAttempted
AVLT_StartTime
AVLTA_WL1a_T1_W1_drum
AVLTA_WL1a_T1_W2_curtain
AVLTA_WL1a_T1_W3_bell
AVLTA_WL1a_T1_W4_coffee
AVLTA_WL1a_T1_W5_school
AVLTA_WL1a_T1_W6_parent
AVLTA_WL1a_T1_W7_moon
AVLTA_WL1a_T1_W8_garden
AVLTA_WL1a_T1_W9_hat
AVLTA_WL1a_T1_W10_farmer
AVLTA_WL1a_T1_W11_nose
AVLTA_WL1a_T1_W12_turkey
AVLTA_WL1a_T1_W13_color
AVLTA_WL1a_T1_W14_house
AVLTA_WL1a_T1_W15_river
AVLTA_WL1a_T2_W1_drum
AVLTA_WL1a_T2_W2_curtain
AVLTA_WL1a_T2_W3_bell
AVLTA_WL1a_T2_W4_coffee
AVLTA_WL1a_T2_W5_school
AVLTA_WL1a_T2_W6_parent
AVLTA_WL1a_T2_W7_moon
AVLTA_WL1a_T2_W8_garden
AVLTA_WL1a_T2_W9_hat
AVLTA_WL1a_T2_W10_farmer
AVLTA_WL1a_T2_W11_nose
AVLTA_WL1a_T2_W12_turkey
AVLTA_WL1a_T2_W13_color
AVLTA_WL1a_T2_W14_house
AVLTA_WL1a_T2_W15_river
AVLTA_WL1a_T3_W1_drum
AVLTA_WL1a_T3_W2_curtain
AVLTA_WL1a_T3_W3_bell
AVLTA_WL1a_T3_W4_coffee
AVLTA_WL1a_T3_W5_school
AVLTA_WL1a_T3_W6_parent
AVLTA_WL1a_T3_W7_moon
AVLTA_WL1a_T3_W8_garden
AVLTA_WL1a_T3_W9_hat
AVLTA_WL1a_T3_W10_farmer
AVLTA_WL1a_T3_W11_nose
AVLTA_WL1a_T3_W12_turkey
AVLTA_WL1a_T3_W13_color
AVLTA_WL1a_T3_W14_house
AVLTA_WL1a_T3_W15_river
AVLTA_WL1a_T4_W1_drum
AVLTA_WL1a_T4_W2_curtain
AVLTA_WL1a_T4_W3_bell
AVLTA_WL1a_T4_W4_coffee
AVLTA_WL1a_T4_W5_school
AVLTA_WL1a_T4_W6_parent
AVLTA_WL1a_T4_W7_moon
AVLTA_WL1a_T4_W8_garden
AVLTA_WL1a_T4_W9_hat
AVLTA_WL1a_T4_W10_farmer
AVLTA_WL1a_T4_W11_nose
AVLTA_WL1a_T4_W12_turkey
AVLTA_WL1a_T4_W13_color
AVLTA_WL1a_T4_W14_house
AVLTA_WL1a_T4_W15_river
AVLTA_WL1a_T5_W1_drum
AVLTA_WL1a_T5_W2_curtain
AVLTA_WL1a_T5_W3_bell
AVLTA_WL1a_T5_W4_coffee
AVLTA_WL1a_T5_W5_school
AVLTA_WL1a_T5_W6_parent
AVLTA_WL1a_T5_W7_moon
AVLTA_WL1a_T5_W8_garden
AVLTA_WL1a_T5_W9_hat
AVLTA_WL1a_T5_W10_farmer
AVLTA_WL1a_T5_W11_nose
AVLTA_WL1a_T5_W12_turkey
AVLTA_WL1a_T5_W13_color
AVLTA_WL1a_T5_W14_house
AVLTA_WL1a_T5_W15_river
AVLTA_WL1a_T6_W1_drum
AVLTA_WL1a_T6_W2_curtain
AVLTA_WL1a_T6_W3_bell
AVLTA_WL1a_T6_W4_coffee
AVLTA_WL1a_T6_W5_school
AVLTA_WL1a_T6_W6_parent
AVLTA_WL1a_T6_W7_moon
AVLTA_WL1a_T6_W8_garden
AVLTA_WL1a_T6_W9_hat
AVLTA_WL1a_T6_W10_farmer
AVLTA_WL1a_T6_W11_nose
AVLTA_WL1a_T6_W12_turkey
AVLTA_WL1a_T6_W13_color
AVLTA_WL1a_T6_W14_house
AVLTA_WL1a_T6_W15_river
AVLTA_WL1b_T7_W1_desk
AVLTA_WL1b_T7_W2_ranger
AVLTA_WL1b_T7_W3_bird
AVLTA_WL1b_T7_W4_shoe
AVLTA_WL1b_T7_W5_stove
AVLTA_WL1b_T7_W6_mountain
AVLTA_WL1b_T7_W7_glasses
AVLTA_WL1b_T7_W8_towel
AVLTA_WL1b_T7_W9_cloud
AVLTA_WL1b_T7_W10_boat
AVLTA_WL1b_T7_W11_lamb
AVLTA_WL1b_T7_W12_gun
AVLTA_WL1b_T7_W13_pencil
AVLTA_WL1b_T7_W14_church
AVLTA_WL1b_T7_W15_fish
AVLTB_WL2a_T1_W1_doll
AVLTB_WL2a_T1_W2_mirror
AVLTB_WL2a_T1_W3_nail
AVLTB_WL2a_T1_W4_sailor
AVLTB_WL2a_T1_W5_heart
AVLTB_WL2a_T1_W6_desert
AVLTB_WL2a_T1_W7_face
AVLTB_WL2a_T1_W8_letter
AVLTB_WL2a_T1_W9_bed
AVLTB_WL2a_T1_W10_machine
AVLTB_WL2a_T1_W11_milk
AVLTB_WL2a_T1_W12_helmet
AVLTB_WL2a_T1_W13_music
AVLTB_WL2a_T1_W14_horse
AVLTB_WL2a_T1_W15_road
AVLTB_WL2a_T2_W1_doll
AVLTB_WL2a_T2_W2_mirror
AVLTB_WL2a_T2_W3_nail
AVLTB_WL2a_T2_W4_sailor
AVLTB_WL2a_T2_W5_heart
AVLTB_WL2a_T2_W6_desert
AVLTB_WL2a_T2_W7_face
AVLTB_WL2a_T2_W8_letter
AVLTB_WL2a_T2_W9_bed
AVLTB_WL2a_T2_W10_machine
AVLTB_WL2a_T2_W11_milk
AVLTB_WL2a_T2_W12_helmet
AVLTB_WL2a_T2_W13_music
AVLTB_WL2a_T2_W14_horse
AVLTB_WL2a_T2_W15_road
AVLTB_WL2a_T3_W1_doll
AVLTB_WL2a_T3_W2_mirror
AVLTB_WL2a_T3_W3_nail
AVLTB_WL2a_T3_W4_sailor
AVLTB_WL2a_T3_W5_heart
AVLTB_WL2a_T3_W6_desert
AVLTB_WL2a_T3_W7_face
AVLTB_WL2a_T3_W8_letter
AVLTB_WL2a_T3_W9_bed
AVLTB_WL2a_T3_W10_machine
AVLTB_WL2a_T3_W11_milk
AVLTB_WL2a_T3_W12_helmet
AVLTB_WL2a_T3_W13_music
AVLTB_WL2a_T3_W14_horse
AVLTB_WL2a_T3_W15_road
AVLTB_WL2a_T4_W1_doll
AVLTB_WL2a_T4_W2_mirror
AVLTB_WL2a_T4_W3_nail
AVLTB_WL2a_T4_W4_sailor
AVLTB_WL2a_T4_W5_heart
AVLTB_WL2a_T4_W6_desert
AVLTB_WL2a_T4_W7_face
AVLTB_WL2a_T4_W8_letter
AVLTB_WL2a_T4_W9_bed
AVLTB_WL2a_T4_W10_machine
AVLTB_WL2a_T4_W11_milk
AVLTB_WL2a_T4_W12_helmet
AVLTB_WL2a_T4_W13_music
AVLTB_WL2a_T4_W14_horse
AVLTB_WL2a_T4_W15_road
AVLTB_WL2a_T5_W1_doll
AVLTB_WL2a_T5_W2_mirror
AVLTB_WL2a_T5_W3_nail
AVLTB_WL2a_T5_W4_sailor
AVLTB_WL2a_T5_W5_heart
AVLTB_WL2a_T5_W6_desert
AVLTB_WL2a_T5_W7_face
AVLTB_WL2a_T5_W8_letter
AVLTB_WL2a_T5_W9_bed
AVLTB_WL2a_T5_W10_machine
AVLTB_WL2a_T5_W11_milk
AVLTB_WL2a_T5_W12_helmet
AVLTB_WL2a_T5_W13_music
AVLTB_WL2a_T5_W14_horse
AVLTB_WL2a_T5_W15_road
AVLTB_WL2a_T6_W1_doll
AVLTB_WL2a_T6_W2_mirror
AVLTB_WL2a_T6_W3_nail
AVLTB_WL2a_T6_W4_sailor
AVLTB_WL2a_T6_W5_heart
AVLTB_WL2a_T6_W6_desert
AVLTB_WL2a_T6_W7_face
AVLTB_WL2a_T6_W8_letter
AVLTB_WL2a_T6_W9_bed
AVLTB_WL2a_T6_W10_machine
AVLTB_WL2a_T6_W11_milk
AVLTB_WL2a_T6_W12_helmet
AVLTB_WL2a_T6_W13_music
AVLTB_WL2a_T6_W14_horse
AVLTB_WL2a_T6_W15_road
AVLTB_WL2b_T7_W1_dish
AVLTB_WL2b_T7_W2_jester
AVLTB_WL2b_T7_W3_hill
AVLTB_WL2b_T7_W4_coat
AVLTB_WL2b_T7_W5_tool
AVLTB_WL2b_T7_W6_forest
AVLTB_WL2b_T7_W7_water
AVLTB_WL2b_T7_W8_ladder
AVLTB_WL2b_T7_W9_girl
AVLTB_WL2b_T7_W10_foot
AVLTB_WL2b_T7_W11_shield
AVLTB_WL2b_T7_W12_pie
AVLTB_WL2b_T7_W13_insect
AVLTB_WL2b_T7_W14_ball
AVLTB_WL2b_T7_W15_car
AVLT_Trial1Int
AVLT_Trial2Int
AVLT_Trial3Int
AVLT_Trial4Int
AVLT_Trial5Int
AVLT_Trial6Int
AVLT_Trial7Int
AVLT_ExamDate
AVLT_Delay_QuestionnaireNotAttempted
AVLT_DelayTime
AVLT_Delay_WL1_W1_drum
AVLT_Delay_WL1_W2_curtain
AVLT_Delay_WL1_W3_bell
AVLT_Delay_WL1_W4_coffee
AVLT_Delay_WL1_W5_school
AVLT_Delay_WL1_W6_parent
AVLT_Delay_WL1_W7_moon
AVLT_Delay_WL1_W8_garden
AVLT_Delay_WL1_W9_hat
AVLT_Delay_WL1_W10_farmer
AVLT_Delay_WL1_W11_nose
AVLT_Delay_WL1_W12_turkey
AVLT_Delay_WL1_W13_color
AVLT_Delay_WL1_W14_house
AVLT_Delay_WL1_W15_river
AVLT_Delay_WL2_W1_doll
AVLT_Delay_WL2_W2_mirror
AVLT_Delay_WL2_W3_nail
AVLT_Delay_WL2_W4_sailor
AVLT_Delay_WL2_W5_heart
AVLT_Delay_WL2_W6_desert
AVLT_Delay_WL2_W7_face
AVLT_Delay_WL2_W8_letter
AVLT_Delay_WL2_W9_bed
AVLT_Delay_WL2_W10_machine
AVLT_Delay_WL2_W11_milk
AVLT_Delay_WL2_W12_helmet
AVLT_Delay_WL2_W13_music
AVLT_Delay_WL2_W14_horse
AVLT_Delay_WL2_W15_road
AVLT_Delay_Int
AVLT_Delay_Rec
AVLT_Delay_TotInt
AVLT_Delay_ExamDate
BosNam_QuestionnaireNotAttempted
BosNam_Q1
BosNam_Q3
BosNam_Q5
BosNam_Q7
BosNam_Q9
BosNam_Q11
BosNam_Q13
BosNam_Q15
BosNam_Q17
BosNam_Q19
BosNam_Q21
BosNam_Q23
BosNam_Q25
BosNam_Q27
BosNam_Q29
BosNam_Q31
BosNam_Q33
BosNam_Q35
BosNam_Q37
BosNam_Q39
BosNam_Q41
BosNam_Q43
BosNam_Q45
BosNam_Q47
BosNam_Q49
BosNam_Q51
BosNam_Q53
BosNam_Q55
BosNam_Q57
BosNam_Q59
BosNam_ExamDate
CatFlu_QuestionnaireNotAttempted
CatFlu_Practise
CatFlu_Animal_Total
CatFlu_Animal_Perseverations
CatFlu_Animal_Intrusions
CatFlu_Vegetable_Total
CatFlu_Vegetable_Perseverations
CatFlu_Vegetable_Intrusions
CatFlu_ExamDate
CDT_QuestionnaireNotAttempted
CDT_Q1pt1
CDT_Q1pt2
CDT_Q1pt3
CDT_Q1pt4
CDT_Q1pt5
CDT_Q2pt1
CDT_Q2pt2
CDT_Q2pt3
CDT_Q2pt4
CDT_Q2pt5
CDT_ExamDate
DSBac_QuestionnaireNotAttempted
DSBac_Q1a
DSBac_Q1b
DSBac_Q2a
DSBac_Q2b
DSBac_Q3a
DSBac_Q3b
DSBac_Q4a
DSBac_Q4b
DSBac_Q5a
DSBac_Q5b
DSBac_Q6a
DSBac_Q6b
DSBac_Length
DSBac_ExamDate
DSFor_QuestionnaireNotAttempted
DSFor_Q1a
DSFor_Q1b
DSFor_Q2a
DSFor_Q2b
DSFor_Q3a
DSFor_Q3b
DSFor_Q4a
DSFor_Q4b
DSFor_Q5a
DSFor_Q5b
DSFor_Q6a
DSFor_Q6b
DSFor_Length
DSFor_ExamDate
LogMemIA_QuestionnaireNotAttempted
LogMemIA_TimeEnded
LogMemIA_ImmediateScore
LogMemIA_ExamDate
LogMemIIA_QuestionnaireNotAttempted
LogMemIIA_TimeBegan
LogMemIIA_DelayedScore
LogMemIIA_ReminderGiven
LogMemIIA_ExamDate

- AVLT
    - https://www.sciencedirect.com/topics/medicine-and-dentistry/rey-auditory-verbal-learning-test
- NPI
    - https://www.cms.gov/medicare/regulations-guidance/administrative-simplification#:~:text=The%20National%20Provider%20Identifier%20(NPI,for%20covered%20health%20care%20providers.

In [11]:
for feature in features:
    print(feature, features[feature].shape, features[feature].dtype)

ID (149015,) int64
RID (209338,) int64
PTID (149015,) object
SITEID (149015,) int64
VISCODE (176743,) object
USERDATE (149015,) object
USERDATE2 (149015,) object
EXAMDATE (155448,) object
Q1 (3873,) float64
Q2 (3873,) int64
Q3 (3873,) int64
Q4 (3873,) int64
Q5 (3873,) int64
Q6 (3873,) int64
Q7 (3873,) int64
Q8 (3873,) int64
Q9 (3873,) int64
Q10 (3873,) int64
Q11 (3873,) int64
Q12 (3873,) int64
Q14 (3873,) int64
TOTAL11 (3873,) float64
TOTALMOD (3873,) float64
update_stamp (209338,) object
Phase (137079,) object
COT1LIST (3873,) object
COT2LIST (3873,) object
COT3LIST (3873,) object
COT1SCOR (3873,) int64
COT2SCOR (3873,) int64
COT3SCOR (3873,) int64
COP1COMP (3873,) int64
COCOMND (3873,) object
COP2COMP (3873,) int64
COCONSTR (3873,) object
COP3COMP (3873,) int64
COT4LIST (3873,) object
COT4TOTL (3873,) int64
COP4COMP (3873,) int64
CONAME (3873,) object
COP5COMP (3873,) int64
COIDEA (3873,) object
COP6COMP (3873,) int64
COORIEN (3873,) object
COP7COMP (3873,) int64
CO8NURSE (3873,) int64
CO8MAGAZ (3873,) int64
CO8WIZRD (3873,) int64
CO8WIZRR (3873,) int64
CO8VAN (3873,) int64
CO8VANR (3873,) int64
CO8LEPRD (3873,) int64
CO8LEPRR (3873,) int64
CO8SALE (3873,) int64
CO8SALER (3873,) int64
CO8SEA (3873,) int64
CO8SEAR (3873,) int64
CO8TRAIN (3873,) int64
CO8TRAIR (3873,) int64
CO8COIN (3873,) int64
CO8COINR (3873,) int64
CO8SHIP (3873,) int64
CO8SHIPR (3873,) int64
CO8INST (3873,) int64
CO8INSTR (3873,) int64
CO8MAP (3873,) int64
CO8MAPR (3873,) int64
CO8AXE (3873,) int64
CO8AXER (3873,) int64
CO8BOARD (3873,) int64
CO8BOARR (3873,) int64
CO8CARRT (3873,) int64
CO8CARRR (3873,) int64
CO8MILK (3873,) int64
CO8MILKR (3873,) int64
CO8VOL (3873,) int64
CO8VOLR (3873,) int64
CO8FORST (3873,) int64
CO8FORSR (3873,) int64
CO8ANCHR (3873,) int64
CO8ANCRR (3873,) int64
CO8GEM (3873,) int64
CO8GEMR (3873,) int64
CO8CAT (3873,) int64
CO8CATR (3873,) int64
CO8FUND (3873,) int64
CO8FUNDR (3873,) int64
CO8EDGE (3873,) int64
CO8EDGER (3873,) int64
CO8CAKE (3873,) int64
CO8CAKER (3873,) int64
COP8COMP (3873,) int64
COINSTRC (3873,) int64
COCOMPRE (3873,) int64
COWRDFND (3873,) int64
COLANG (3873,) int64
CONMCXLA (3873,) int64
CONMCXLB (3873,) int64
CONMCXLC (3873,) int64
COP14CMP (3873,) int64
VISCODE2 (174054,) object
VISDATE (141269,) object
WORDLIST (20764,) float64
Q1UNABLE (7718,) float64
Q1TR1 (7718,) object
Q1TR2 (7718,) object
Q1TR3 (7718,) object
Q1TRIT (7718,) float64
Q1TR2T (7718,) float64
Q1TRT (7718,) float64
Q1SCORE (7718,) float64
TIMEEND (7718,) float64
Q2UNABLE (7718,) float64
Q2TASK (7718,) object
Q2SCORE (7718,) float64
Q3UNABLE (7718,) float64
Q3TASK1 (7718,) float64
Q3TASK2 (7718,) float64
Q3TASK3 (7718,) float64
Q3TASK4 (7718,) float64
Q3SCORE (7718,) float64
Q4UNABLE (7718,) float64
TIMEBEGAN (7718,) float64
Q4TASK (7718,) object
Q4SCORE (7718,) float64
Q5UNABLE (7718,) float64
Q5TASK (7718,) object
Q5SCORE (7718,) float64
Q5NAME1 (7718,) float64
Q5NAME2 (7718,) float64
Q5NAME3 (7718,) float64
Q5NAME4 (7718,) float64
Q5NAME5 (7718,) float64
Q5NAME6 (7718,) float64
Q5NAME7 (7718,) float64
Q5NAME8 (7718,) float64
Q5NAME9 (7718,) float64
Q5NAME10 (7718,) float64
Q5NAME11 (7718,) float64
Q5NAME12 (7718,) float64
Q5FINGER (7718,) object
Q5SCORE_CUE (7718,) float64
Q6UNABLE (7718,) float64
Q6TASK (7718,) object
Q6SCORE (7718,) float64
Q7UNABLE (7718,) float64
Q7TASK (7718,) object
Q7SCORE (7718,) float64
Q8UNABLE (7718,) float64
Q8WORD1 (7718,) float64
Q8WORD1R (7718,) float64
Q8WORD2 (7718,) float64
Q8WORD2R (7718,) float64
Q8WORD3 (7718,) float64
Q8WORD3R (7718,) float64
Q8WORD4 (7718,) float64
Q8WORD4R (7718,) float64
Q8WORD5 (7718,) float64
Q8WORD5R (7718,) float64
Q8WORD6 (7718,) float64
Q8WORD6R (7718,) float64
Q8WORD7 (7718,) float64
Q8WORD7R (7718,) float64
Q8WORD8 (7718,) float64
Q8WORD8R (7718,) float64
Q8WORD9 (7718,) float64
Q8WORD9R (7718,) float64
Q8WORD10 (7718,) float64
Q8WORD10R (7718,) float64
Q8WORD11 (7718,) float64
Q8WORD11R (7718,) float64
Q8WORD12 (7718,) float64
Q8WORD12R (7718,) float64
Q8WORD13 (7718,) float64
Q8WORD13R (7718,) float64
Q8WORD14 (7718,) float64
Q8WORD14R (7718,) float64
Q8WORD15 (7718,) float64
Q8WORD15R (7718,) float64
Q8WORD16 (7718,) float64
Q8WORD16R (7718,) float64
Q8WORD17 (7718,) float64
Q8WORD17R (7718,) float64
Q8WORD18 (7718,) float64
Q8WORD18R (7718,) float64
Q8WORD19 (7718,) float64
Q8WORD19R (7718,) float64
Q8WORD20 (7718,) float64
Q8WORD20R (7718,) float64
Q8WORD21 (7718,) float64
Q8WORD21R (7718,) float64
Q8WORD22 (7718,) float64
Q8WORD22R (7718,) float64
Q8WORD23 (7718,) float64
Q8WORD23R (7718,) float64
Q8WORD24 (7718,) float64
Q8WORD24R (7718,) float64
Q8SCORE (7718,) float64
Q9TASK (7718,) float64
Q9SCORE (7718,) float64
Q10TASK (7718,) float64
Q10SCORE (7718,) float64
Q11TASK (7718,) float64
Q11SCORE (7718,) float64
Q12TASK (7718,) float64
Q12SCORE (7718,) float64
TOTSCORE (7718,) float64
Q13UNABLE (7718,) float64
Q13TASKA (7718,) float64
Q13TASKB (7718,) float64
Q13TASKC (7718,) float64
Q13SCORE (7718,) float64
TOTAL13 (7718,) float64
DATE (48636,) object
SOURCE (64754,) float64
ProtocolID (22197,) object
SessionID (22197,) float64
TestTime (22197,) object
Visit (22197,) object
SessionAttempt (22197,) int64
SessionDuration (22197,) int64
SessionCompletionPass (22197,) object
SessionPerformancePass (22197,) object
SessionIntegrityPass (22197,) object
TestCode (22197,) object
TestAttempt (22197,) int64
TestCompletionScore (22197,) float64
TestPerformanceScore (22197,) float64
TestCompletionPass (22197,) object
TestPerformancePass (22197,) object
TestIntegrityPass (22197,) object
TestDuration (22197,) float64
ReactionTime (22197,) float64
RawReactionTime (22197,) float64
RTVariability (22197,) float64
RawRTVariability (22197,) float64
Accuracy (22197,) float64
RawAccuracy (22197,) float64
TotalCorrect (22197,) int64
TotalCorrectExclPant (22197,) float64
TotalErrors (22197,) int64
LegalErrors (22197,) float64
RuleBreakErrors (22197,) float64
TotalAnticipatory (22197,) float64
TotalPost (22197,) float64
TotalMaxOut (22197,) float64
TotalResponses (22197,) int64
TotalTrials (22197,) int64
StandardScoreZ (22197,) float64
StandardScoreT (22197,) float64
AltStandardScoreZ (22197,) float64
AltStandardScoreT (22197,) float64
Psyattstdscr (22197,) float64
LearnWMStdScr (22197,) float64
AltLearnWMStdScr (22197,) float64
N1 (10398,) float64
N2 (10398,) float64
N3 (10398,) float64
N4 (10398,) float64
R1 (10398,) float64
R2 (10398,) float64
R3 (10398,) float64
M1 (10398,) float64
M2 (10398,) float64
M3 (10398,) float64
AXNAUSEA (4884,) int64
AXVOMIT (4884,) int64
AXDIARRH (4884,) int64
AXCONSTP (4884,) int64
AXABDOMN (4884,) float64
AXSWEATN (4884,) int64
AXDIZZY (4884,) int64
AXENERGY (4884,) int64
AXDROWSY (4884,) int64
AXVISION (4884,) int64
AXHDACHE (4884,) int64
AXDRYMTH (4884,) int64
AXBREATH (4884,) int64
AXCOUGH (4884,) int64
AXPALPIT (4884,) int64
AXCHEST (4884,) int64
AXURNDIS (4884,) int64
AXURNFRQ (4884,) int64
AXANKLE (4884,) int64
AXMUSCLE (4884,) int64
AXRASH (4884,) int64
AXINSOMN (4884,) int64
AXDPMOOD (4884,) int64
AXCRYING (4884,) int64
AXELMOOD (4884,) int64
AXWANDER (4884,) int64
AXFALL (4884,) int64
AXOTHER (4884,) float64
BCPREDX (13525,) float64
BCADAS (13525,) float64
BCMMSE (13525,) float64
BCMMSREC (13525,) float64
BCNMMMS (13525,) float64
BCNEUPSY (13525,) float64
BCNONMEM (13525,) float64
BCFAQ (13525,) float64
BCCDR (13525,) float64
BCDEPRES (13525,) float64
BCSTROKE (13525,) float64
BCDELIR (13525,) float64
BCEXTCIR (13525,) float64
BCCORADL (13525,) float64
BCCORCOG (13525,) float64
DONE (18441,) float64
NDREASON (5395,) float64
CCI1 (1224,) float64
CCI2 (1224,) float64
CCI3 (1224,) float64
CCI4 (1224,) float64
CCI5 (1224,) float64
CCI6 (1224,) float64
CCI7 (1224,) float64
CCI8 (1224,) float64
CCI9 (1224,) float64
CCI10 (1224,) float64
CCI11 (1224,) float64
CCI12 (1224,) float64
CCI13 (1224,) float64
CCI14 (1224,) float64
CCI15 (1224,) float64
CCI16 (1224,) float64
CCI17 (1224,) float64
CCI18 (1224,) float64
CCI19 (1224,) float64
CCI20 (1224,) float64
CCI12TOT (1224,) float64
CDDATE (13050,) object
CDSOURCE (13050,) float64
CDVERSION (13050,) float64
CDMEMORY (13050,) float64
CDORIENT (13050,) float64
CDJUDGE (13050,) float64
CDCOMMUN (13050,) float64
CDHOME (13050,) float64
CDCARE (13050,) float64
CDGLOBAL (13050,) float64
CDRSB (13050,) float64
CDSOB (13050,) float64
DXCHANGE (13514,) float64
DXCURREN (13514,) float64
DXCONV (13514,) float64
DXCONTYP (13514,) float64
DXREV (13514,) float64
DXNORM (13514,) float64
DXNODEP (13514,) float64
DXMCI (13514,) float64
DXMDES (13514,) object
DXMPTR1 (13514,) float64
DXMPTR2 (13514,) float64
DXMPTR3 (13514,) float64
DXMPTR4 (13514,) float64
DXMPTR5 (13514,) float64
DXMPTR6 (13514,) float64
DXMDUE (13514,) float64
DXMOTHET (13514,) object
DXDSEV (13514,) float64
DXDDUE (13514,) float64
DXAD (13514,) float64
DXADES (13514,) float64
DXAPP (13514,) float64
DXAPROB (13514,) object
DXAPOSS (13514,) object
DXPARK (13514,) float64
DXPDES (13514,) float64
DXPCOG (13514,) float64
DXPATYP (13514,) float64
DXDEP (13514,) float64
DXOTHDEM (13514,) float64
DXODES (13514,) float64
DXCONFID (13514,) float64
DIAGNOSIS (13514,) float64
CONCERN (8055,) float64
MEMORY1 (16118,) float64
MEMORY2 (16118,) float64
MEMORY3 (16118,) float64
MEMORY4 (16118,) float64
MEMORY5 (16118,) float64
MEMORY6 (16118,) float64
MEMORY7 (16118,) float64
MEMORY8 (16118,) float64
LANG1 (16118,) float64
LANG2 (16118,) float64
LANG3 (16118,) float64
LANG4 (16118,) float64
LANG5 (16118,) float64
LANG6 (16118,) float64
LANG7 (16118,) float64
LANG8 (16118,) float64
LANG9 (16118,) float64
VISSPAT1 (16118,) float64
VISSPAT2 (16118,) float64
VISSPAT3 (16118,) float64
VISSPAT4 (16118,) float64
VISSPAT5 (16118,) float64
VISSPAT6 (16118,) float64
VISSPAT7 (16118,) float64
VISSPAT8 (16118,) float64
PLAN1 (16118,) float64
PLAN2 (16118,) float64
PLAN3 (16118,) float64
PLAN4 (16118,) float64
PLAN5 (16118,) float64
ORGAN1 (16118,) float64
ORGAN2 (16118,) float64
ORGAN3 (16118,) float64
ORGAN4 (16118,) float64
ORGAN5 (16118,) float64
ORGAN6 (16118,) float64
DIVATT1 (16118,) float64
DIVATT2 (16118,) float64
DIVATT3 (16118,) float64
DIVATT4 (16118,) float64
STAFFASST (8055,) float64
VALIDITY (8055,) float64
EcogPtDivatt (8055,) float64
EcogPtLang (8055,) float64
EcogPtMem (8055,) float64
EcogPtOrgan (8055,) float64
EcogPtPlan (8055,) float64
EcogPtVisspat (8055,) float64
EcogPtTotal (8055,) float64
COLDATE (16118,) object
PHASE (19582,) object
EcogSPMem (8063,) float64
EcogSPLang (8063,) float64
EcogSPVisspat (8063,) float64
EcogSPPlan (8063,) float64
EcogSPOrgan (8063,) float64
EcogSPDivatt (8063,) float64
EcogSPTotal (8063,) float64
N1M (10868,) float64
N1SD (10868,) float64
N2M (10868,) float64
N2SD (10868,) float64
N3M (10868,) float64
N3SD (10868,) float64
N4M (10868,) float64
N4SD (10868,) float64
R1M (10868,) float64
R1SD (10868,) float64
R2M (10868,) float64
R2SD (10868,) float64
R3M (10868,) float64
R3SD (10868,) float64
MIFR1M (10868,) float64
MIFR1SD (10868,) float64
MIFR2M (10868,) float64
MIFR2SD (10868,) float64
MIFR3M (10868,) float64
MIFR3SD (10868,) float64
MDFR1M (10868,) float64
MDFR1SD (10868,) float64
MTranM (10868,) float64
MTranSD (10868,) float64
MDuraM (10868,) float64
MDuraSD (10868,) float64
MC_SCORE (2588,) float64
FC_SCORE (2588,) float64
SNGLCHKSCORE (2588,) float64
COMPLXCHKSCORE (2588,) float64
CHKCOMPOSTIME (2588,) float64
CHKCOMPOSSCORE (2588,) float64
BANKSTATSCORE (2588,) float64
TOTCOMPTIME (2588,) float64
FCISCORE (2588,) float64
NICKELS (2588,) float64
QUARTERS (2588,) float64
BUDGET (2588,) float64
EXPMEDINS (2588,) float64
INSURANCE (2588,) float64
MEDINSTIME (2588,) float64
EXPINCTAX (2588,) float64
TAXCREDA (2588,) float64
QUES5TIME (2588,) float64
TAXCREDB (2588,) float64
EXPCHECKREG (2588,) float64
PAYEE (2588,) float64
SNGLCHK7 (2588,) float64
SNGLCHK8 (2588,) float64
SNGLCHK9 (2588,) float64
SNGLCHK10 (2588,) float64
SNGLCHK11 (2588,) float64
SNGLCHK12 (2588,) float64
SNGLCHK13 (2588,) float64
SNGLCHK14 (2588,) float64
SNGLCHK15 (2588,) float64
SNGLCHK16 (2588,) float64
SNGLCHKTIME (2588,) float64
COMPLXCHK17 (2588,) float64
COMPLXCHK18 (2588,) float64
COMPLXCHK19 (2588,) float64
COMPLXCHK20 (2588,) float64
COMPLXCHK21 (2588,) float64
COMPLXCHK22 (2588,) float64
COMPLXCHK23 (2588,) float64
COMPLXCHK24 (2588,) float64
COMPLXCHK25 (2588,) float64
COMPLXCHK26 (2588,) float64
COMPLXCHK27 (2588,) float64
COMPLXCHK28 (2588,) float64
COMPLXCHK29 (2588,) float64
COMPLXCHK30 (2588,) float64
COMPLXCHKTIME (2588,) float64
BANKSTATA (2588,) float64
BANKSTATB (2588,) float64
EXPBANKSTATE (2588,) float64
BANKSTAT32 (2588,) float64
BANKSTAT33 (2588,) float64
BANKSTAT34 (2588,) float64
BANKSTAT35 (2588,) float64
BANKSTAT36 (2588,) float64
BANKSTAT37 (2588,) float64
GDSOURCE (12116,) float64
GDUNABL (12116,) float64
GDSATIS (12116,) float64
GDDROP (12116,) float64
GDEMPTY (12116,) float64
GDBORED (12116,) float64
GDSPIRIT (12116,) float64
GDAFRAID (12116,) float64
GDHAPPY (12116,) float64
GDHELP (12116,) float64
GDHOME (12116,) float64
GDMEMORY (12116,) float64
GDALIVE (12116,) float64
GDWORTH (12116,) float64
GDENERGY (12116,) float64
GDHOPE (12116,) float64
GDBETTER (12116,) float64
GDTOTAL (12116,) float64
GDDATE (12116,) object
ADAS_QuestionnaireNotAttempted (5341,) float64
ADAS_Q1_T1_WL1_W1_butter (5341,) float64
ADAS_Q1_T1_WL1_W2_arm (5341,) float64
ADAS_Q1_T1_WL1_W3_shore (5341,) float64
ADAS_Q1_T1_WL1_W4_letter (5341,) float64
ADAS_Q1_T1_WL1_W5_queen (5341,) float64
ADAS_Q1_T1_WL1_W6_cabin (5341,) float64
ADAS_Q1_T1_WL1_W7_pole (5341,) float64
ADAS_Q1_T1_WL1_W8_ticket (5341,) float64
ADAS_Q1_T1_WL1_W9_grass (5341,) float64
ADAS_Q1_T1_WL1_W10_engine (5341,) float64
ADAS_Q1_T2_WL1_W1_pole (5341,) float64
ADAS_Q1_T2_WL1_W2_letter (5341,) float64
ADAS_Q1_T2_WL1_W3_butter (5341,) float64
ADAS_Q1_T2_WL1_W4_queen (5341,) float64
ADAS_Q1_T2_WL1_W5_arm (5341,) float64
ADAS_Q1_T2_WL1_W6_shore (5341,) float64
ADAS_Q1_T2_WL1_W7_grass (5341,) float64
ADAS_Q1_T2_WL1_W8_cabin (5341,) float64
ADAS_Q1_T2_WL1_W9_ticket (5341,) float64
ADAS_Q1_T2_WL1_W10_engine (5341,) float64
ADAS_Q1_T3_WL1_W1_shore (5341,) float64
ADAS_Q1_T3_WL1_W2_letter (5341,) float64
ADAS_Q1_T3_WL1_W3_arm (5341,) float64
ADAS_Q1_T3_WL1_W4_cabin (5341,) float64
ADAS_Q1_T3_WL1_W5_pole (5341,) float64
ADAS_Q1_T3_WL1_W6_ticket (5341,) float64
ADAS_Q1_T3_WL1_W7_engine (5341,) float64
ADAS_Q1_T3_WL1_W8_grass (5341,) float64
ADAS_Q1_T3_WL1_W9_butter (5341,) float64
ADAS_Q1_T3_WL1_W10_queen (5341,) float64
ADAS_Q1_T1_WL2_W1_bottle (5341,) float64
ADAS_Q1_T1_WL2_W2_potato (5341,) float64
ADAS_Q1_T1_WL2_W3_girl (5341,) float64
ADAS_Q1_T1_WL2_W4_temple (5341,) float64
ADAS_Q1_T1_WL2_W5_star (5341,) float64
ADAS_Q1_T1_WL2_W6_animal (5341,) float64
ADAS_Q1_T1_WL2_W7_forest (5341,) float64
ADAS_Q1_T1_WL2_W8_lake (5341,) float64
ADAS_Q1_T1_WL2_W9_clock (5341,) float64
ADAS_Q1_T1_WL2_W10_office (5341,) float64
ADAS_Q1_T2_WL2_W1_forest (5341,) float64
ADAS_Q1_T2_WL2_W2_temple (5341,) float64
ADAS_Q1_T2_WL2_W3_bottle (5341,) float64
ADAS_Q1_T2_WL2_W4_star (5341,) float64
ADAS_Q1_T2_WL2_W5_potato (5341,) float64
ADAS_Q1_T2_WL2_W6_girl (5341,) float64
ADAS_Q1_T2_WL2_W7_clock (5341,) float64
ADAS_Q1_T2_WL2_W8_animal (5341,) float64
ADAS_Q1_T2_WL2_W9_lake (5341,) float64
ADAS_Q1_T2_WL2_W10_office (5341,) float64
ADAS_Q1_T3_WL2_W1_girl (5341,) float64
ADAS_Q1_T3_WL2_W2_temple (5341,) float64
ADAS_Q1_T3_WL2_W3_potato (5341,) float64
ADAS_Q1_T3_WL2_W4_animal (5341,) float64
ADAS_Q1_T3_WL2_W5_forest (5341,) float64
ADAS_Q1_T3_WL2_W6_lake (5341,) float64
ADAS_Q1_T3_WL2_W7_office (5341,) float64
ADAS_Q1_T3_WL2_W8_clock (5341,) float64
ADAS_Q1_T3_WL2_W9_bottle (5341,) float64
ADAS_Q1_T3_WL2_W10_star (5341,) float64
ADAS_Q1_T1_WL3_W1_coast (5341,) float64
ADAS_Q1_T1_WL3_W2_doll (5341,) float64
ADAS_Q1_T1_WL3_W3_lip (5341,) float64
ADAS_Q1_T1_WL3_W4_chair (5341,) float64
ADAS_Q1_T1_WL3_W5_student (5341,) float64
ADAS_Q1_T1_WL3_W6_apple (5341,) float64
ADAS_Q1_T1_WL3_W7_horse (5341,) float64
ADAS_Q1_T1_WL3_W8_pipe (5341,) float64
ADAS_Q1_T1_WL3_W9_valley (5341,) float64
ADAS_Q1_T1_WL3_W10_rock (5341,) float64
ADAS_Q1_T2_WL3_W1_horse (5341,) float64
ADAS_Q1_T2_WL3_W2_chair (5341,) float64
ADAS_Q1_T2_WL3_W3_coast (5341,) float64
ADAS_Q1_T2_WL3_W4_student (5341,) float64
ADAS_Q1_T2_WL3_W5_doll (5341,) float64
ADAS_Q1_T2_WL3_W6_lip (5341,) float64
ADAS_Q1_T2_WL3_W7_valley (5341,) float64
ADAS_Q1_T2_WL3_W8_apple (5341,) float64
ADAS_Q1_T2_WL3_W9_pipe (5341,) float64
ADAS_Q1_T2_WL3_W10_rock (5341,) float64
ADAS_Q1_T3_WL3_W1_lip (5341,) float64
ADAS_Q1_T3_WL3_W2_chair (5341,) float64
ADAS_Q1_T3_WL3_W3_doll (5341,) float64
ADAS_Q1_T3_WL3_W4_apple (5341,) float64
ADAS_Q1_T3_WL3_W5_horse (5341,) float64
ADAS_Q1_T3_WL3_W6_pipe (5341,) float64
ADAS_Q1_T3_WL3_W7_rock (5341,) float64
ADAS_Q1_T3_WL3_W8_valley (5341,) float64
ADAS_Q1_T3_WL3_W9_coast (5341,) float64
ADAS_Q1_T3_WL3_W10_student (5341,) float64
ADAS_Q1_TimeEnded (5341,) float64
ADAS_Q2a (5341,) float64
ADAS_Q2b (5341,) float64
ADAS_Q2c (5341,) float64
ADAS_Q2d (5341,) float64
ADAS_Q2e (5341,) float64
ADAS_Q3a (5341,) float64
ADAS_Q3b (5341,) float64
ADAS_Q3c (5341,) float64
ADAS_Q3d (5341,) float64
ADAS_Q4_TimeBegan (5341,) float64
ADAS_Q4_WL1_W1_butter (5341,) float64
ADAS_Q4_WL1_W2_arm (5341,) float64
ADAS_Q4_WL1_W3_shore (5341,) float64
ADAS_Q4_WL1_W4_letter (5341,) float64
ADAS_Q4_WL1_W5_queen (5341,) float64
ADAS_Q4_WL1_W6_cabin (5341,) float64
ADAS_Q4_WL1_W7_pole (5341,) float64
ADAS_Q4_WL1_W8_ticket (5341,) float64
ADAS_Q4_WL1_W9_grass (5341,) float64
ADAS_Q4_WL1_W10_engine (5341,) float64
ADAS_Q4_WL2_W1_bottle (5341,) float64
ADAS_Q4_WL2_W2_potato (5341,) float64
ADAS_Q4_WL2_W3_girl (5341,) float64
ADAS_Q4_WL2_W4_temple (5341,) float64
ADAS_Q4_WL2_W5_star (5341,) float64
ADAS_Q4_WL2_W6_animal (5341,) float64
ADAS_Q4_WL2_W7_forest (5341,) float64
ADAS_Q4_WL2_W8_lake (5341,) float64
ADAS_Q4_WL2_W9_clock (5341,) float64
ADAS_Q4_WL2_W10_office (5341,) float64
ADAS_Q4_WL3_W1_coast (5341,) float64
ADAS_Q4_WL3_W2_doll (5341,) float64
ADAS_Q4_WL3_W3_lip (5341,) float64
ADAS_Q4_WL3_W4_chair (5341,) float64
ADAS_Q4_WL3_W5_student (5341,) float64
ADAS_Q4_WL3_W6_apple (5341,) float64
ADAS_Q4_WL3_W7_horse (5341,) float64
ADAS_Q4_WL3_W8_pipe (5341,) float64
ADAS_Q4_WL3_W9_valley (5341,) float64
ADAS_Q4_WL3_W10_rock (5341,) float64
ADAS_Q5a_Flower (5341,) float64
ADAS_Q5a_Bed (5341,) float64
ADAS_Q5a_Whistle (5341,) float64
ADAS_Q5a_Pencil (5341,) float64
ADAS_Q5a_Rattle (5341,) float64
ADAS_Q5a_Mask (5341,) float64
ADAS_Q5a_Scissors (5341,) float64
ADAS_Q5a_Comb (5341,) float64
ADAS_Q5a_Wallet (5341,) float64
ADAS_Q5a_Harmonica (5341,) float64
ADAS_Q5a_Stethoscope (5341,) float64
ADAS_Q5a_Tongs (5341,) float64
ADAS_Q5b_Thumb (5341,) float64
ADAS_Q5b_Middle (5341,) float64
ADAS_Q5b_Ring (5341,) float64
ADAS_Q5b_Index (5341,) float64
ADAS_Q5b_Pinky (5341,) float64
ADAS_Q6a (5341,) float64
ADAS_Q6b (5341,) float64
ADAS_Q6c (5341,) float64
ADAS_Q6d (5341,) float64
ADAS_Q6e (5341,) float64
ADAS_Q7a (5341,) float64
ADAS_Q7b (5341,) float64
ADAS_Q7c (5341,) float64
ADAS_Q7d (5341,) float64
ADAS_Q7e (5341,) float64
ADAS_Q7f (5341,) float64
ADAS_Q7g (5341,) float64
ADAS_Q7h (5341,) float64
ADAS_Q8_WL1_REC_W1_nurse (5341,) float64
ADAS_Q8_WL1_REC_W2_magazine (5341,) float64
ADAS_Q8_WL1_REC_W3_wizard (5341,) float64
ADAS_Q8_WL1_REC_W4_van (5341,) float64
ADAS_Q8_WL1_REC_W5_leopard (5341,) float64
ADAS_Q8_WL1_REC_W6_sale (5341,) float64
ADAS_Q8_WL1_REC_W7_sea (5341,) float64
ADAS_Q8_WL1_REC_W8_train (5341,) float64
ADAS_Q8_WL1_REC_W9_coin (5341,) float64
ADAS_Q8_WL1_REC_W10_ship (5341,) float64
ADAS_Q8_WL1_REC_W11_institution (5341,) float64
ADAS_Q8_WL1_REC_W12_map (5341,) float64
ADAS_Q8_WL1_REC_W13_axe (5341,) float64
ADAS_Q8_WL1_REC_W14_board (5341,) float64
ADAS_Q8_WL1_REC_W15_carrot (5341,) float64
ADAS_Q8_WL1_REC_W16_milk (5341,) float64
ADAS_Q8_WL1_REC_W17_volume (5341,) float64
ADAS_Q8_WL1_REC_W18_forest (5341,) float64
ADAS_Q8_WL1_REC_W19_anchor (5341,) float64
ADAS_Q8_WL1_REC_W20_gem (5341,) float64
ADAS_Q8_WL1_REC_W21_cat (5341,) float64

In [14]:
# Paper Describing this:
# Quantifying Latent Cognitive Processes of Encoding
#   and Retrieval with an Updated Hierarchical Bayesian
#   Cognitive Processing Model, Including Prior Data and
#   Adjustments Tuned for the ADAS-Cog Word Recall Test

embic_df = pd.read_csv('Data/EMBICqCP_31Jan2024.csv')
embic_df.head()

,RID,VISCODE,VISCODE2,EXAMDATE,N1M,N1SD,N2M,N2SD,N3M,N3SD,...,MIFR2SD,MIFR3M,MIFR3SD,MDFR1M,MDFR1SD,MTranM,MTranSD,MDuraM,MDuraSD,update_stamp
0,2,bl,bl,2005-09-08,0.767016,0.141649,0.709903,0.162686,0.360249,0.158741,...,0.071498,0.866232,0.069828,0.693782,0.109383,0.132358,0.099564,0.943263,0.046219,2023-11-29 11:07:32.0
1,2,m06,m06,2006-03-06,0.672857,0.149686,0.776737,0.146328,0.207589,0.139888,...,0.080054,0.820921,0.077813,0.675708,0.127045,0.197894,0.113316,0.865004,0.076526,2023-11-29 11:07:32.0
2,2,m36,m36,2008-08-27,0.703177,0.152102,0.767971,0.144831,0.362356,0.172866,...,0.076357,0.855074,0.079109,0.679160,0.114957,0.199337,0.126431,0.922456,0.056340,2023-11-29 11:07:32.0
3,2,m60,m60,2010-09-22,0.690505,0.152367,0.744650,0.156083,0.233303,0.143761,...,0.083423,0.827403,0.082034,0.685792,0.119317,0.188288,0.118015,0.888266,0.070254,2023-11-29 11:07:32.0
4,2,v06,m72,2011-09-19,0.762577,0.141896,0.693868,0.166775,0.299910,0.151150,...,0.070160,0.899992,0.061291,0.658535,0.114875,0.110237,0.087275,0.930412,0.054501,2023-11-29 11:07:32.0

In [15]:
# Paper Describing this:
# EXPLANATION OF THE FACTOR SCORES IN UWNPSYCHSUM.CSV

uwn_df = pd.read_csv('Data\UWNPSYCHSUM_31Jan2024.csvData/EMBICqCP_31Jan2024.csv')
uwn_df.head()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 4-5: truncated \UXXXXXXXX escape (1299693657.py, line 4)

## Load Dataframes for each CSV

In [24]:
adas_adni_df = pd.read_csv('Data\ADAS_ADNI1_31Jan2024.csv')
adas_adnigo_df = pd.read_csv('Data\ADAS_ADNIGO23_31Jan2024.csv')
adas_scores_df = pd.read_csv('Data\ADASSCORES_31Jan2024.csv')
adni_cb_results_df = pd.read_csv('Data\ADNI_CBBRESULTS_31Jan2024.csv')
adni_embic_dcb_df = pd.read_csv('Data\ADNI_EMBICDCB_31Jan2024.csv')
adsxlist_df = pd.read_csv('Data\ADSXLIST_31Jan2024.csv')
bl_change_df = pd.read_csv('Data\BLCHANGE_31Jan2024.csv')
cbbcomp_df = pd.read_csv('Data\CBBCOMP_31Jan2024.csv')
cci_df = pd.read_csv('Data\CCI_31Jan2024.csv')
cdr_df = pd.read_csv('Data\CDR_31Jan2024.csv')
dxsum_pdxconv_df = pd.read_csv('Data\DXSUM_PDXCONV_ADNIALL_31Jan2024.csv')
eco_gpt_df = pd.read_csv('Data\ECOGPT_31Jan2024.csv')
eco_gsp_df = pd.read_csv('Data\ECOGSP_31Jan2024.csv')
embic_qcp_df = pd.read_csv('Data\EMBICqCP_31Jan2024.csv')
fci_df = pd.read_csv('Data\FCI_31Jan2024.csv')
gd_scale_df = pd.read_csv('Data\GDSCALE_31Jan2024.csv')
item_df = pd.read_csv('Data\ITEM.csv')
mmse_df = pd.read_csv('Data\MMSE_31Jan2024.csv')
moca_df = pd.read_csv('Data\MOCA_31Jan2024.csv')
modhach_df = pd.read_csv('Data\MODHACH_31Jan2024.csv')

# these all have a problem with an invalid escape character
# neurobat_df = pd.read_csv('Data\NEUROBAT_31Jan2024.csv')
# npi_df = pd.read_csv('Data\NPI_31Jan2024.csv')
# npiq_df = pd.read_csv('Data\NPIQ_31Jan2024.csv')
# uwn_psych_sum_df = pd.read_csv('Data\UWNPSYCHSUM_31Jan2024.csv')

In [25]:
adas_adni_df.head()

,Phase,ID,PTID,RID,SITEID,VISCODE,USERDATE,USERDATE2,EXAMDATE,COT1LIST,...,COP8COMP,COINSTRC,COCOMPRE,COWRDFND,COLANG,CONMCXLA,CONMCXLB,CONMCXLC,COP14CMP,update_stamp
0,ADNI1,4,011_S_0002,2,107,bl,2005-09-09,NaN,2005-09-08,1:2:7:8:9,...,-4,1,1,1,1,12,0,0,-4,2005-09-09 00:00:00.0
1,ADNI1,6,011_S_0005,5,107,bl,2005-09-09,NaN,2005-09-07,1:2:3:7:9,...,-4,1,1,1,1,16,0,0,-4,2005-09-09 00:00:00.0
2,ADNI1,8,011_S_0003,3,107,bl,2005-09-13,NaN,2005-09-12,7:09:10,...,-4,1,1,3,1,20,0,0,-4,2005-09-13 00:00:00.0
3,ADNI1,10,011_S_0008,8,107,bl,2005-09-26,NaN,2005-09-19,1:2:4:5:7:8:9:10,...,-4,1,1,1,1,23,0,0,-4,2005-09-26 00:00:00.0
4,ADNI1,12,022_S_0007,7,10,bl,2005-10-06,NaN,2005-10-06,-4,...,-4,1,2,2,2,11,1,1,-4,2005-10-06 00:00:00.0

In [26]:
adas_adni_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3873 entries, 0 to 3872
Data columns (total 85 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phase         3873 non-null   object
 1   ID            3873 non-null   int64
 2   PTID          3873 non-null   object
 3   RID           3873 non-null   int64
 4   SITEID        3873 non-null   int64
 5   VISCODE       3873 non-null   object
 6   USERDATE      3873 non-null   object
 7   USERDATE2     172 non-null    object
 8   EXAMDATE      3873 non-null   object
 9   COT1LIST      3873 non-null   object
 10  COT2LIST      3873 non-null   object
 11  COT3LIST      3873 non-null   object
 12  COT1SCOR      3873 non-null   int64
 13  COT2SCOR      3873 non-null   int64
 14  COT3SCOR      3873 non-null   int64
 15  COP1COMP      3873 non-null   int64
 16  COCOMND       3873 non-null   object
 17  COP2COMP      3873 non-null   int64
 18  COCONSTR      3873 non-null   object
 19  COP3COMP      3873 non-null   int64
 20  COT4LIST      3873 non-null   object
 21  COT4TOTL      3873 non-null   int64
 22  COP4COMP      3873 non-null   int64
 23  CONAME        3873 non-null   object
 24  COP5COMP      3873 non-null   int64
 25  COIDEA        3873 non-null   object
 26  COP6COMP      3873 non-null   int64
 27  COORIEN       3873 non-null   object
 28  COP7COMP      3873 non-null   int64
 29  CO8NURSE      3873 non-null   int64
 30  CO8MAGAZ      3873 non-null   int64
 31  CO8WIZRD      3873 non-null   int64
 32  CO8WIZRR      3873 non-null   int64
 33  CO8VAN        3873 non-null   int64
 34  CO8VANR       3873 non-null   int64
 35  CO8LEPRD      3873 non-null   int64
 36  CO8LEPRR      3873 non-null   int64
 37  CO8SALE       3873 non-null   int64
 38  CO8SALER      3873 non-null   int64
 39  CO8SEA        3873 non-null   int64
 40  CO8SEAR       3873 non-null   int64
 41  CO8TRAIN      3873 non-null   int64
 42  CO8TRAIR      3873 non-null   int64
 43  CO8COIN       3873 non-null   int64
 44  CO8COINR      3873 non-null   int64
 45  CO8SHIP       3873 non-null   int64
 46  CO8SHIPR      3873 non-null   int64
 47  CO8INST       3873 non-null   int64
 48  CO8INSTR      3873 non-null   int64
 49  CO8MAP        3873 non-null   int64
 50  CO8MAPR       3873 non-null   int64
 51  CO8AXE        3873 non-null   int64
 52  CO8AXER       3873 non-null   int64
 53  CO8BOARD      3873 non-null   int64
 54  CO8BOARR      3873 non-null   int64
 55  CO8CARRT      3873 non-null   int64
 56  CO8CARRR      3873 non-null   int64
 57  CO8MILK       3873 non-null   int64
 58  CO8MILKR      3873 non-null   int64
 59  CO8VOL        3873 non-null   int64
 60  CO8VOLR       3873 non-null   int64
 61  CO8FORST      3873 non-null   int64
 62  CO8FORSR      3873 non-null   int64
 63  CO8ANCHR      3873 non-null   int64
 64  CO8ANCRR      3873 non-null   int64
 65  CO8GEM        3873 non-null   int64
 66  CO8GEMR       3873 non-null   int64
 67  CO8CAT        3873 non-null   int64
 68  CO8CATR       3873 non-null   int64
 69  CO8FUND       3873 non-null   int64
 70  CO8FUNDR      3873 non-null   int64
 71  CO8EDGE       3873 non-null   int64
 72  CO8EDGER      3873 non-null   int64
 73  CO8CAKE       3873 non-null   int64
 74  CO8CAKER      3873 non-null   int64
 75  COP8COMP      3873 non-null   int64
 76  COINSTRC      3873 non-null   int64
 77  COCOMPRE      3873 non-null   int64
 78  COWRDFND      3873 non-null   int64
 79  COLANG        3873 non-null   int64
 80  CONMCXLA      3873 non-null   int64
 81  CONMCXLB      3873 non-null   int64
 82  CONMCXLC      3873 non-null   int64
 83  COP14CMP      3873 non-null   int64
 84  update_stamp  3873 non-null   object
dtypes: int64(69), object(16)
memory usage: 2.5+ MB

In [27]:
adas_adnigo_df.head()

,Phase,ID,PTID,RID,SITEID,VISCODE,VISCODE2,VISDATE,USERDATE,USERDATE2,...,TOTSCORE,Q13UNABLE,Q13TASKA,Q13TASKB,Q13TASKC,Q13SCORE,TOTAL13,DATE,SOURCE,update_stamp
0,ADNIGO,4,023_S_0376,376,17,m48,m48,2010-05-14,2010-06-02,2011-02-28,...,9.0,NaN,28.0,0.0,0.0,0.0,16.0,NaN,NaN,2012-11-16 09:32:21.0
1,ADNIGO,14,016_S_1117,1117,12,m36,m36,2010-06-24,2010-06-27,2011-02-28,...,24.0,NaN,5.0,0.0,0.0,4.0,38.0,NaN,NaN,2012-11-16 09:32:21.0
2,ADNIGO,16,016_S_1326,1326,12,m36,m36,2010-05-12,2010-06-28,2011-11-08,...,23.0,NaN,16.0,0.0,1.0,2.0,35.0,NaN,NaN,2012-11-16 09:32:21.0
3,ADNIGO,18,031_S_0618,618,21,m48,m48,2010-06-25,2010-06-28,2011-02-28,...,3.0,NaN,24.0,0.0,0.0,0.0,4.0,NaN,NaN,2012-11-16 09:32:21.0
4,ADNIGO,20,035_S_0292,292,24,m48,m48,2010-04-21,2010-06-30,2011-02-28,...,19.0,NaN,21.0,0.0,0.0,1.0,30.0,NaN,NaN,2012-11-16 09:32:21.0

In [28]:
adas_adnigo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7718 entries, 0 to 7717
Columns: 124 entries, Phase to update_stamp
dtypes: float64(103), int64(3), object(18)
memory usage: 7.3+ MB

In [30]:
adas_scores_df.head()

,ID,RID,PTID,SITEID,VISCODE,USERDATE,USERDATE2,EXAMDATE,Q1,Q2,...,Q7,Q8,Q9,Q10,Q11,Q12,Q14,TOTAL11,TOTALMOD,update_stamp
0,16500125,1412,041_S_1412,20,m12,2014-08-20,NaN,2008-07-28,5.33,0,...,0,4,0,0,0,0,0,10.33,16.33,2014-08-20 00:00:00.0
1,16500123,1412,041_S_1412,20,m06,2014-08-20,NaN,2008-02-05,5.33,0,...,0,5,0,0,0,0,1,10.33,19.33,2014-08-20 00:00:00.0
2,16500121,1412,041_S_1412,20,bl,2014-08-20,NaN,2007-07-30,3.67,0,...,0,8,0,0,1,0,1,13.67,17.67,2014-08-20 00:00:00.0
3,16500119,1411,041_S_1411,20,m06,2014-08-20,NaN,2008-03-25,6.00,0,...,0,2,0,0,0,0,1,8.00,17.00,2014-08-20 00:00:00.0
4,16500117,1411,041_S_1411,20,bl,2014-08-20,NaN,2007-08-08,4.67,0,...,0,4,0,0,0,0,0,8.67,13.67,2014-08-20 00:00:00.0

In [31]:
adas_scores_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3873 entries, 0 to 3872
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            3873 non-null   int64
 1   RID           3873 non-null   int64
 2   PTID          3873 non-null   object
 3   SITEID        3873 non-null   int64
 4   VISCODE       3873 non-null   object
 5   USERDATE      3873 non-null   object
 6   USERDATE2     0 non-null      float64
 7   EXAMDATE      3873 non-null   object
 8   Q1            3873 non-null   float64
 9   Q2            3873 non-null   int64
 10  Q3            3873 non-null   int64
 11  Q4            3873 non-null   int64
 12  Q5            3873 non-null   int64
 13  Q6            3873 non-null   int64
 14  Q7            3873 non-null   int64
 15  Q8            3873 non-null   int64
 16  Q9            3873 non-null   int64
 17  Q10           3873 non-null   int64
 18  Q11           3873 non-null   int64
 19  Q12           3873 non-null   int64
 20  Q14           3873 non-null   int64
 21  TOTAL11       3873 non-null   float64
 22  TOTALMOD      3873 non-null   float64
 23  update_stamp  3873 non-null   object
dtypes: float64(4), int64(15), object(5)
memory usage: 726.3+ KB

In [32]:
adni_cb_results_df.head()

,ProtocolID,RID,SessionID,EXAMDATE,TestTime,Visit,SessionAttempt,SessionDuration,SessionCompletionPass,SessionPerformancePass,...,TotalResponses,TotalTrials,StandardScoreZ,StandardScoreT,AltStandardScoreZ,AltStandardScoreT,Psyattstdscr,LearnWMStdScr,AltLearnWMStdScr,update_stamp
0,ADNI2,2,NaN,2015-12-08,16:58:11,NaN,3,976,Yes,NaN,...,46,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-06-19 15:01:35.0
1,ADNI2,2,NaN,2015-12-09,16:25:03,NaN,4,1114,Yes,NaN,...,35,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-06-19 15:01:35.0
2,ADNI2,2,NaN,2015-12-09,16:25:03,NaN,4,1114,Yes,NaN,...,30,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-06-19 15:01:35.0
3,ADNI2,2,NaN,2015-12-09,16:25:03,NaN,4,1114,Yes,NaN,...,33,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-06-19 15:01:35.0
4,ADNI2,2,NaN,2015-12-09,16:25:03,NaN,4,1114,Yes,NaN,...,119,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-06-19 15:01:35.0

In [33]:
adni_cb_results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22197 entries, 0 to 22196
Data columns (total 43 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ProtocolID              22197 non-null  object
 1   RID                     22197 non-null  int64
 2   SessionID               21193 non-null  float64
 3   EXAMDATE                22197 non-null  object
 4   TestTime                22197 non-null  object
 5   Visit                   21193 non-null  object
 6   SessionAttempt          22197 non-null  int64
 7   SessionDuration         22197 non-null  int64
 8   SessionCompletionPass   22197 non-null  object
 9   SessionPerformancePass  21193 non-null  object
 10  SessionIntegrityPass    21193 non-null  object
 11  TestCode                22197 non-null  object
 12  TestAttempt             22197 non-null  int64
 13  TestCompletionScore     22197 non-null  float64
 14  TestPerformanceScore    1004 non-null   float64
 15  TestCompletionPass      21193 non-null  object
 16  TestPerformancePass     21035 non-null  object
 17  TestIntegrityPass       5288 non-null   object
 18  TestDuration            21193 non-null  float64
 19  ReactionTime            22168 non-null  float64
 20  RawReactionTime         21166 non-null  float64
 21  RTVariability           22155 non-null  float64
 22  RawRTVariability        21148 non-null  float64
 23  Accuracy                22197 non-null  float64
 24  RawAccuracy             21189 non-null  float64
 25  TotalCorrect            22197 non-null  int64
 26  TotalCorrectExclPant    21193 non-null  float64
 27  TotalErrors             22197 non-null  int64
 28  LegalErrors             15845 non-null  float64
 29  RuleBreakErrors         21193 non-null  float64
 30  TotalAnticipatory       21193 non-null  float64
 31  TotalPost               21193 non-null  float64
 32  TotalMaxOut             15953 non-null  float64
 33  TotalResponses          22197 non-null  int64
 34  TotalTrials             22197 non-null  int64
 35  StandardScoreZ          21007 non-null  float64
 36  StandardScoreT          21007 non-null  float64
 37  AltStandardScoreZ       5166 non-null   float64
 38  AltStandardScoreT       5166 non-null   float64
 39  Psyattstdscr            21139 non-null  float64
 40  LearnWMStdScr           20921 non-null  float64
 41  AltLearnWMStdScr        20921 non-null  float64
 42  update_stamp            22197 non-null  object
dtypes: float64(23), int64(8), object(12)
memory usage: 7.3+ MB

In [34]:
adni_embic_dcb_df.head()

,RID,VISCODE2,N1,N2,N3,N4,R1,R2,R3,M1,M2,M3,update_stamp
0,2,bl,0.380379,0.525858,0.608526,0.233617,0.312128,0.855483,0.630490,0.814638,0.847062,0.552671,2022-08-25 16:48:31.0
1,2,m06,0.355836,0.451357,0.405075,0.259381,0.282130,0.821923,0.628997,0.739732,0.752799,0.495499,2022-08-25 16:48:31.0
2,2,m36,0.456460,0.326185,0.530069,0.342751,0.417837,0.822434,0.567525,0.781423,0.851242,0.501393,2022-08-25 16:48:31.0
3,2,m60,0.356400,0.525238,0.342911,0.204434,0.326040,0.828272,0.659133,0.765615,0.733223,0.503721,2022-08-25 16:48:31.0
4,2,m72,0.328507,0.522139,0.489105,0.259510,0.295456,0.907406,0.613058,0.818876,0.795315,0.498164,2022-08-25 16:48:31.0

In [35]:
adni_embic_dcb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10398 entries, 0 to 10397
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   RID           10398 non-null  int64
 1   VISCODE2      10398 non-null  object
 2   N1            10398 non-null  float64
 3   N2            10398 non-null  float64
 4   N3            10398 non-null  float64
 5   N4            10398 non-null  float64
 6   R1            10398 non-null  float64
 7   R2            10398 non-null  float64
 8   R3            10398 non-null  float64
 9   M1            10398 non-null  float64
 10  M2            10398 non-null  float64
 11  M3            10398 non-null  float64
 12  update_stamp  10398 non-null  object
dtypes: float64(10), int64(1), object(2)
memory usage: 1.0+ MB

In [36]:
adsxlist_df.head()

,Phase,ID,PTID,RID,SITEID,VISCODE,VISCODE2,VISDATE,USERDATE,USERDATE2,...,AXMUSCLE,AXRASH,AXINSOMN,AXDPMOOD,AXCRYING,AXELMOOD,AXWANDER,AXFALL,AXOTHER,update_stamp
0,ADNI1,2,011_S_0002,2,107,m06,m06,2006-03-06,2006-03-07,NaN,...,1,1,1,1,1,1,1,1,1.0,2006-03-07 00:00:00.0
1,ADNI1,4,011_S_0005,5,107,m06,m06,2006-03-09,2006-03-09,NaN,...,1,2,1,1,1,1,1,1,2.0,2006-03-09 00:00:00.0
2,ADNI1,6,011_S_0003,3,107,m06,m06,2006-03-13,2006-03-13,NaN,...,2,1,2,1,1,1,1,1,1.0,2006-03-13 00:00:00.0
3,ADNI1,8,011_S_0008,8,107,m06,m06,2006-03-20,2006-03-21,NaN,...,1,1,1,1,1,1,1,2,1.0,2006-03-21 00:00:00.0
4,ADNI1,10,022_S_0007,7,10,m06,m06,2006-04-13,2006-04-13,NaN,...,2,2,1,2,2,1,1,1,1.0,2006-04-13 00:00:00.0

In [37]:
adsxlist_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4884 entries, 0 to 4883
Data columns (total 40 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phase         4884 non-null   object
 1   ID            4884 non-null   int64
 2   PTID          4884 non-null   object
 3   RID           4884 non-null   int64
 4   SITEID        4884 non-null   int64
 5   VISCODE       4884 non-null   object
 6   VISCODE2      4884 non-null   object
 7   VISDATE       4883 non-null   object
 8   USERDATE      4884 non-null   object
 9   USERDATE2     400 non-null    object
 10  EXAMDATE      4201 non-null   object
 11  AXNAUSEA      4884 non-null   int64
 12  AXVOMIT       4884 non-null   int64
 13  AXDIARRH      4884 non-null   int64
 14  AXCONSTP      4884 non-null   int64
 15  AXABDOMN      4883 non-null   float64
 16  AXSWEATN      4884 non-null   int64
 17  AXDIZZY       4884 non-null   int64
 18  AXENERGY      4884 non-null   int64
 19  AXDROWSY      4884 non-null   int64
 20  AXVISION      4884 non-null   int64
 21  AXHDACHE      4884 non-null   int64
 22  AXDRYMTH      4884 non-null   int64
 23  AXBREATH      4884 non-null   int64
 24  AXCOUGH       4884 non-null   int64
 25  AXPALPIT      4884 non-null   int64
 26  AXCHEST       4884 non-null   int64
 27  AXURNDIS      4884 non-null   int64
 28  AXURNFRQ      4884 non-null   int64
 29  AXANKLE       4884 non-null   int64
 30  AXMUSCLE      4884 non-null   int64
 31  AXRASH        4884 non-null   int64
 32  AXINSOMN      4884 non-null   int64
 33  AXDPMOOD      4884 non-null   int64
 34  AXCRYING      4884 non-null   int64
 35  AXELMOOD      4884 non-null   int64
 36  AXWANDER      4884 non-null   int64
 37  AXFALL        4884 non-null   int64
 38  AXOTHER       4882 non-null   float64
 39  update_stamp  4884 non-null   object
dtypes: float64(2), int64(29), object(9)
memory usage: 1.5+ MB

In [38]:
bl_change_df.head()

,Phase,ID,PTID,RID,SITEID,VISCODE,VISCODE2,VISDATE,USERDATE,USERDATE2,...,BCNONMEM,BCFAQ,BCCDR,BCDEPRES,BCSTROKE,BCDELIR,BCEXTCIR,BCCORADL,BCCORCOG,update_stamp
0,ADNI1,2,022_S_0007,7,10,bl,bl,2005-10-06,2005-10-13,NaN,...,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,2005-10-13 00:00:00.0
1,ADNI1,4,100_S_0015,15,4,bl,bl,2005-10-19,2005-10-19,NaN,...,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,2005-10-19 00:00:00.0
2,ADNI1,6,023_S_0030,30,11,bl,bl,2005-10-20,2005-10-20,NaN,...,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,2005-10-20 00:00:00.0
3,ADNI1,8,023_S_0031,31,11,bl,bl,2005-10-24,2005-10-24,NaN,...,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,2005-10-24 00:00:00.0
4,ADNI1,10,022_S_0014,14,10,bl,bl,2005-11-04,2005-11-08,NaN,...,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,2005-11-08 00:00:00.0

In [39]:
bl_change_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13525 entries, 0 to 13524
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phase         13525 non-null  object
 1   ID            13525 non-null  int64
 2   PTID          13525 non-null  object
 3   RID           13525 non-null  int64
 4   SITEID        13525 non-null  int64
 5   VISCODE       13525 non-null  object
 6   VISCODE2      13516 non-null  object
 7   VISDATE       13519 non-null  object
 8   USERDATE      13525 non-null  object
 9   USERDATE2     4370 non-null   object
 10  EXAMDATE      13459 non-null  object
 11  BCPREDX       4217 non-null   float64
 12  BCADAS        9711 non-null   float64
 13  BCMMSE        9720 non-null   float64
 14  BCMMSREC      9719 non-null   float64
 15  BCNMMMS       9717 non-null   float64
 16  BCNEUPSY      9710 non-null   float64
 17  BCNONMEM      9708 non-null   float64
 18  BCFAQ         9726 non-null   float64
 19  BCCDR         9696 non-null   float64
 20  BCDEPRES      9744 non-null   float64
 21  BCSTROKE      11185 non-null  float64
 22  BCDELIR       11184 non-null  float64
 23  BCEXTCIR      11183 non-null  float64
 24  BCCORADL      5288 non-null   float64
 25  BCCORCOG      5313 non-null   float64
 26  update_stamp  13525 non-null  object
dtypes: float64(15), int64(3), object(9)
memory usage: 2.8+ MB

In [40]:
cbbcomp_df.head()

,Phase,ID,PTID,RID,SITEID,VISCODE,VISCODE2,VISDATE,USERDATE,USERDATE2,DONE,NDREASON,update_stamp
0,ADNI2,8,012_S_5213,5213,9,v21,NaN,2015-09-10,2015-09-10,NaN,1,-4.0,2023-06-09 14:56:42.0
1,ADNI2,10,137_S_0800,800,55,v41,NaN,2015-09-16,2015-09-16,NaN,1,-4.0,2023-06-09 14:56:42.0
2,ADNI2,12,012_S_4128,4128,9,v41,NaN,2015-09-17,2015-09-18,NaN,1,-4.0,2023-06-09 14:56:42.0
3,ADNI2,14,024_S_5290,5290,18,v21,NaN,2015-10-02,2015-10-02,NaN,1,-4.0,2023-06-09 14:56:42.0
4,ADNI2,16,137_S_0668,668,55,v41,NaN,2015-09-29,2015-10-02,NaN,1,-4.0,2023-06-09 14:56:42.0

In [41]:
cbbcomp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2807 entries, 0 to 2806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phase         2807 non-null   object
 1   ID            2807 non-null   int64
 2   PTID          2807 non-null   object
 3   RID           2807 non-null   int64
 4   SITEID        2807 non-null   int64
 5   VISCODE       2807 non-null   object
 6   VISCODE2      2564 non-null   object
 7   VISDATE       2784 non-null   object
 8   USERDATE      2807 non-null   object
 9   USERDATE2     2604 non-null   object
 10  DONE          2807 non-null   int64
 11  NDREASON      1131 non-null   float64
 12  update_stamp  2807 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 285.2+ KB

In [42]:
cci_df.head()

,Phase,ID,PTID,RID,SITEID,VISCODE,VISCODE2,VISDATE,USERDATE,USERDATE2,...,CCI15,CCI16,CCI17,CCI18,CCI19,CCI20,CCI12TOT,DATE,SOURCE,update_stamp
0,ADNI2,4,027_S_5072,5072,19,v01,sc,2013-01-22,2013-01-24,NaN,...,1.0,1.0,2.0,1.0,2.0,1.0,21.0,NaN,NaN,2013-05-16 19:16:06.0
1,ADNI2,6,018_S_5074,5074,13,v01,sc,2013-01-24,2013-01-28,NaN,...,3.0,2.0,1.0,2.0,2.0,2.0,23.0,NaN,NaN,2013-05-16 19:16:06.0
2,ADNI2,8,041_S_5082,5082,27,v01,sc,2013-02-07,2013-02-13,NaN,...,1.0,1.0,2.0,3.0,1.0,1.0,32.0,NaN,NaN,2013-05-16 19:16:06.0
3,ADNI2,10,041_S_5078,5078,27,v01,sc,2013-02-01,2013-02-14,NaN,...,2.0,2.0,2.0,2.0,4.0,2.0,42.0,NaN,NaN,2013-05-16 19:16:06.0
4,ADNI2,12,027_S_5079,5079,19,v01,sc,2013-01-29,2013-02-18,NaN,...,1.0,2.0,1.0,1.0,2.0,1.0,29.0,NaN,NaN,2013-05-16 19:16:06.0

In [43]:
cci_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 34 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phase         1224 non-null   object
 1   ID            1224 non-null   int64
 2   PTID          1224 non-null   object
 3   RID           1224 non-null   int64
 4   SITEID        1224 non-null   int64
 5   VISCODE       1224 non-null   object
 6   VISCODE2      1224 non-null   object
 7   VISDATE       1224 non-null   object
 8   USERDATE      1224 non-null   object
 9   USERDATE2     1054 non-null   object
 10  CCI1          1221 non-null   float64
 11  CCI2          1220 non-null   float64
 12  CCI3          1219 non-null   float64
 13  CCI4          1220 non-null   float64
 14  CCI5          1221 non-null   float64
 15  CCI6          1221 non-null   float64
 16  CCI7          1220 non-null   float64
 17  CCI8          1220 non-null   float64
 18  CCI9          1219 non-null   float64
 19  CCI10         1217 non-null   float64
 20  CCI11         1216 non-null   float64
 21  CCI12         1215 non-null   float64
 22  CCI13         1220 non-null   float64
 23  CCI14         1220 non-null   float64
 24  CCI15         1218 non-null   float64
 25  CCI16         1219 non-null   float64
 26  CCI17         1217 non-null   float64
 27  CCI18         1219 non-null   float64
 28  CCI19         1218 non-null   float64
 29  CCI20         1220 non-null   float64
 30  CCI12TOT      175 non-null    float64
 31  DATE          174 non-null    object
 32  SOURCE        174 non-null    float64
 33  update_stamp  1224 non-null   object
dtypes: float64(22), int64(3), object(9)
memory usage: 325.2+ KB

In [44]:
cdr_df.head()

,Phase,ID,PTID,RID,SITEID,VISCODE,VISCODE2,VISDATE,USERDATE,USERDATE2,...,CDMEMORY,CDORIENT,CDJUDGE,CDCOMMUN,CDHOME,CDCARE,CDGLOBAL,CDRSB,CDSOB,update_stamp
0,ADNI1,8,011_S_0002,2,107,sc,sc,2005-08-17,2005-08-17,2009-10-05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2009-10-05 00:00:00.0
1,ADNI1,10,011_S_0003,3,107,sc,sc,2005-08-18,2005-08-18,2009-10-05,...,1.0,1.0,1.0,1.0,0.5,0.0,1.0,NaN,NaN,2009-10-05 00:00:00.0
2,ADNI1,12,022_S_0004,4,10,sc,sc,2005-08-18,2005-08-18,2009-10-05,...,0.5,0.0,0.5,0.0,0.0,0.0,0.5,NaN,NaN,2009-10-05 00:00:00.0
3,ADNI1,14,011_S_0005,5,107,sc,sc,2005-08-23,2005-08-23,2009-10-05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2009-10-05 00:00:00.0
4,ADNI1,16,022_S_0007,7,10,sc,sc,2005-08-25,2005-08-25,2009-10-05,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,2009-10-05 00:00:00.0

In [45]:
cdr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13050 entries, 0 to 13049
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phase         13050 non-null  object
 1   ID            13050 non-null  int64
 2   PTID          13050 non-null  object
 3   RID           13050 non-null  int64
 4   SITEID        13050 non-null  int64
 5   VISCODE       13050 non-null  object
 6   VISCODE2      13039 non-null  object
 7   VISDATE       13043 non-null  object
 8   USERDATE      13050 non-null  object
 9   USERDATE2     7684 non-null   object
 10  EXAMDATE      4205 non-null   object
 11  CDDATE        1209 non-null   object
 12  CDSOURCE      12915 non-null  float64
 13  CDVERSION     8101 non-null   float64
 14  CDMEMORY      12989 non-null  float64
 15  CDORIENT      12989 non-null  float64
 16  CDJUDGE       12989 non-null  float64
 17  CDCOMMUN      12989 non-null  float64
 18  CDHOME        12989 non-null  float64
 19  CDCARE        12988 non-null  float64
 20  CDGLOBAL      12984 non-null  float64
 21  CDRSB         3112 non-null   float64
 22  CDSOB         3112 non-null   float64
 23  update_stamp  13050 non-null  object
dtypes: float64(11), int64(3), object(10)
memory usage: 2.4+ MB

In [46]:
dxsum_pdxconv_df.head()

,Phase,ID,RID,PTID,SITEID,VISCODE,VISCODE2,VISDATE,USERDATE,USERDATE2,...,DXPARK,DXPDES,DXPCOG,DXPATYP,DXDEP,DXOTHDEM,DXODES,DXCONFID,DIAGNOSIS,update_stamp
0,ADNI1,2,2,011_S_0002,107,bl,bl,2005-09-29,2005-10-01,NaN,...,-4.0,-4.0,-4.0,-4.0,NaN,-4.0,-4.0,4.0,NaN,2005-10-01 00:00:00.0
1,ADNI1,4,3,011_S_0003,107,bl,bl,2005-09-30,2005-10-01,NaN,...,-4.0,-4.0,-4.0,-4.0,NaN,-4.0,-4.0,3.0,NaN,2005-10-01 00:00:00.0
2,ADNI1,6,5,011_S_0005,107,bl,bl,2005-09-30,2005-10-01,NaN,...,-4.0,-4.0,-4.0,-4.0,NaN,-4.0,-4.0,4.0,NaN,2005-10-01 00:00:00.0
3,ADNI1,8,8,011_S_0008,107,bl,bl,2005-09-30,2005-10-01,NaN,...,-4.0,-4.0,-4.0,-4.0,NaN,-4.0,-4.0,3.0,NaN,2005-10-01 00:00:00.0
4,ADNI1,10,7,022_S_0007,10,bl,bl,2005-10-06,2005-10-06,NaN,...,-4.0,-4.0,-4.0,-4.0,NaN,-4.0,-4.0,4.0,NaN,2005-10-06 00:00:00.0

In [47]:
dxsum_pdxconv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13514 entries, 0 to 13513
Data columns (total 45 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phase         13514 non-null  object
 1   ID            13514 non-null  int64
 2   RID           13514 non-null  int64
 3   PTID          13514 non-null  object
 4   SITEID        13514 non-null  int64
 5   VISCODE       13514 non-null  object
 6   VISCODE2      13504 non-null  object
 7   VISDATE       13508 non-null  object
 8   USERDATE      13514 non-null  object
 9   USERDATE2     4055 non-null   object
 10  EXAMDATE      13465 non-null  object
 11  DXCHANGE      6146 non-null   float64
 12  DXCURREN      3868 non-null   float64
 13  DXCONV        3868 non-null   float64
 14  DXCONTYP      3868 non-null   float64
 15  DXREV         3868 non-null   float64
 16  DXNORM        3868 non-null   float64
 17  DXNODEP       3868 non-null   float64
 18  DXMCI         3868 non-null   float64
 19  DXMDES        11247 non-null  object
 20  DXMPTR1       8004 non-null   float64
 21  DXMPTR2       7995 non-null   float64
 22  DXMPTR3       8001 non-null   float64
 23  DXMPTR4       8002 non-null   float64
 24  DXMPTR5       8000 non-null   float64
 25  DXMPTR6       8002 non-null   float64
 26  DXMDUE        8034 non-null   float64
 27  DXMOTHET      10140 non-null  object
 28  DXDSEV        1605 non-null   float64
 29  DXDDUE        1605 non-null   float64
 30  DXAD          3868 non-null   float64
 31  DXADES        3868 non-null   float64
 32  DXAPP         5396 non-null   float64
 33  DXAPROB       3868 non-null   object
 34  DXAPOSS       10039 non-null  object
 35  DXPARK        13431 non-null  float64
 36  DXPDES        3868 non-null   float64
 37  DXPCOG        3868 non-null   float64
 38  DXPATYP       3868 non-null   float64
 39  DXDEP         9091 non-null   float64
 40  DXOTHDEM      3868 non-null   float64
 41  DXODES        3903 non-null   float64
 42  DXCONFID      3868 non-null   float64
 43  DIAGNOSIS     3478 non-null   float64
 44  update_stamp  13514 non-null  object
dtypes: float64(29), int64(3), object(13)
memory usage: 4.6+ MB

In [48]:
eco_gpt_df.head()

,Phase,ID,PTID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,VISDATE,...,SOURCE,EcogPtDivatt,EcogPtLang,EcogPtMem,EcogPtOrgan,EcogPtPlan,EcogPtVisspat,EcogPtTotal,COLDATE,update_stamp
0,ADNIGO,6,016_S_1326,1326,12,m36,m36,2010-05-27,2011-08-04,2010-05-12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-11-16 09:40:16.0
1,ADNIGO,8,035_S_0292,292,24,m48,m48,2010-05-27,NaN,2010-04-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-11-16 09:40:16.0
2,ADNIGO,10,023_S_0376,376,17,m48,m48,2010-05-28,NaN,2010-05-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-11-16 09:40:16.0
3,ADNIGO,12,031_S_0618,618,21,m48,m48,2010-06-28,NaN,2010-06-25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-11-16 09:40:16.0
4,ADNIGO,14,016_S_1117,1117,12,m36,m36,2010-07-02,2011-11-09,2010-06-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-11-16 09:40:16.0

In [49]:
eco_gpt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8055 entries, 0 to 8054
Data columns (total 63 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Phase          8055 non-null   object
 1   ID             8055 non-null   int64
 2   PTID           8055 non-null   object
 3   RID            8055 non-null   int64
 4   SITEID         8055 non-null   int64
 5   VISCODE        8055 non-null   object
 6   VISCODE2       8044 non-null   object
 7   USERDATE       8055 non-null   object
 8   USERDATE2      3187 non-null   object
 9   VISDATE        8048 non-null   object
 10  CONCERN        6979 non-null   float64
 11  MEMORY1        7827 non-null   float64
 12  MEMORY2        7822 non-null   float64
 13  MEMORY3        7816 non-null   float64
 14  MEMORY4        7812 non-null   float64
 15  MEMORY5        7799 non-null   float64
 16  MEMORY6        7794 non-null   float64
 17  MEMORY7        7812 non-null   float64
 18  MEMORY8        7811 non-null   float64
 19  LANG1          7788 non-null   float64
 20  LANG2          7774 non-null   float64
 21  LANG3          7776 non-null   float64
 22  LANG4          7790 non-null   float64
 23  LANG5          7783 non-null   float64
 24  LANG6          7777 non-null   float64
 25  LANG7          7786 non-null   float64
 26  LANG8          7783 non-null   float64
 27  LANG9          7786 non-null   float64
 28  VISSPAT1       7759 non-null   float64
 29  VISSPAT2       7782 non-null   float64
 30  VISSPAT3       7775 non-null   float64
 31  VISSPAT4       7783 non-null   float64
 32  VISSPAT5       3063 non-null   float64
 33  VISSPAT6       7787 non-null   float64
 34  VISSPAT7       7787 non-null   float64
 35  VISSPAT8       5039 non-null   float64
 36  PLAN1          7789 non-null   float64
 37  PLAN2          7791 non-null   float64
 38  PLAN3          7785 non-null   float64
 39  PLAN4          7788 non-null   float64
 40  PLAN5          7776 non-null   float64
 41  ORGAN1         7789 non-null   float64
 42  ORGAN2         7760 non-null   float64
 43  ORGAN3         7778 non-null   float64
 44  ORGAN4         7781 non-null   float64
 45  ORGAN5         7773 non-null   float64
 46  ORGAN6         7781 non-null   float64
 47  DIVATT1        7789 non-null   float64
 48  DIVATT2        7791 non-null   float64
 49  DIVATT3        7792 non-null   float64
 50  DIVATT4        7793 non-null   float64
 51  STAFFASST      7925 non-null   float64
 52  VALIDITY       7942 non-null   float64
 53  SOURCE         2773 non-null   float64
 54  EcogPtDivatt   2720 non-null   float64
 55  EcogPtLang     2741 non-null   float64
 56  EcogPtMem      2743 non-null   float64
 57  EcogPtOrgan    2693 non-null   float64
 58  EcogPtPlan     2732 non-null   float64
 59  EcogPtVisspat  2724 non-null   float64
 60  EcogPtTotal    2744 non-null   float64
 61  COLDATE        1137 non-null   object
 62  update_stamp   8055 non-null   object
dtypes: float64(51), int64(3), object(9)
memory usage: 3.9+ MB

In [50]:
eco_gsp_df.head()

,PHASE,ID,PTID,RID,SITEID,VISCODE,VISCODE2,VISDATE,USERDATE,USERDATE2,...,SOURCE,EcogSPMem,EcogSPLang,EcogSPVisspat,EcogSPPlan,EcogSPOrgan,EcogSPDivatt,EcogSPTotal,COLDATE,update_stamp
0,ADNIGO,4,016_S_1326,1326,12,m36,m36,2010-05-12,2010-05-27,2011-08-04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-11-16 09:40:21.0
1,ADNIGO,6,035_S_0292,292,24,m48,m48,2010-04-21,2010-05-27,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-11-16 09:40:21.0
2,ADNIGO,8,023_S_0376,376,17,m48,m48,2010-05-14,2010-05-28,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-11-16 09:40:21.0
3,ADNIGO,10,016_S_1117,1117,12,m36,m36,2010-06-24,2010-06-27,2011-11-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-11-16 09:40:21.0
4,ADNIGO,12,016_S_2007,2007,12,bl,bl,2010-07-06,2010-07-06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-11-16 09:40:21.0

In [51]:
eco_gsp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8063 entries, 0 to 8062
Data columns (total 60 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PHASE          8063 non-null   object
 1   ID             8063 non-null   int64
 2   PTID           8063 non-null   object
 3   RID            8063 non-null   int64
 4   SITEID         8063 non-null   int64
 5   VISCODE        8063 non-null   object
 6   VISCODE2       8051 non-null   object
 7   VISDATE        8055 non-null   object
 8   USERDATE       8063 non-null   object
 9   USERDATE2      3143 non-null   object
 10  MEMORY1        7858 non-null   float64
 11  MEMORY2        7861 non-null   float64
 12  MEMORY3        7861 non-null   float64
 13  MEMORY4        7863 non-null   float64
 14  MEMORY5        7855 non-null   float64
 15  MEMORY6        7856 non-null   float64
 16  MEMORY7        7862 non-null   float64
 17  MEMORY8        7859 non-null   float64
 18  LANG1          7856 non-null   float64
 19  LANG2          7842 non-null   float64
 20  LANG3          7854 non-null   float64
 21  LANG4          7862 non-null   float64
 22  LANG5          7860 non-null   float64
 23  LANG6          7860 non-null   float64
 24  LANG7          7860 non-null   float64
 25  LANG8          7860 non-null   float64
 26  LANG9          7861 non-null   float64
 27  VISSPAT1       7847 non-null   float64
 28  VISSPAT2       7853 non-null   float64
 29  VISSPAT3       7859 non-null   float64
 30  VISSPAT4       7860 non-null   float64
 31  VISSPAT5       3102 non-null   float64
 32  VISSPAT6       7864 non-null   float64
 33  VISSPAT7       7863 non-null   float64
 34  VISSPAT8       5111 non-null   float64
 35  PLAN1          7847 non-null   float64
 36  PLAN2          7855 non-null   float64
 37  PLAN3          7852 non-null   float64
 38  PLAN4          7857 non-null   float64
 39  PLAN5          7838 non-null   float64
 40  ORGAN1         7857 non-null   float64
 41  ORGAN2         7833 non-null   float64
 42  ORGAN3         7849 non-null   float64
 43  ORGAN4         7849 non-null   float64
 44  ORGAN5         7854 non-null   float64
 45  ORGAN6         7838 non-null   float64
 46  DIVATT1        7851 non-null   float64
 47  DIVATT2        7856 non-null   float64
 48  DIVATT3        7860 non-null   float64
 49  DIVATT4        7858 non-null   float64
 50  SOURCE         2749 non-null   float64
 51  EcogSPMem      2748 non-null   float64
 52  EcogSPLang     2748 non-null   float64
 53  EcogSPVisspat  2696 non-null   float64
 54  EcogSPPlan     2718 non-null   float64
 55  EcogSPOrgan    2640 non-null   float64
 56  EcogSPDivatt   2673 non-null   float64
 57  EcogSPTotal    2745 non-null   float64
 58  COLDATE        1137 non-null   object
 59  update_stamp   8063 non-null   object
dtypes: float64(48), int64(3), object(9)
memory usage: 3.7+ MB

In [52]:
embic_qcp_df.head()

,RID,VISCODE,VISCODE2,EXAMDATE,N1M,N1SD,N2M,N2SD,N3M,N3SD,...,MIFR2SD,MIFR3M,MIFR3SD,MDFR1M,MDFR1SD,MTranM,MTranSD,MDuraM,MDuraSD,update_stamp
0,2,bl,bl,2005-09-08,0.767016,0.141649,0.709903,0.162686,0.360249,0.158741,...,0.071498,0.866232,0.069828,0.693782,0.109383,0.132358,0.099564,0.943263,0.046219,2023-11-29 11:07:32.0
1,2,m06,m06,2006-03-06,0.672857,0.149686,0.776737,0.146328,0.207589,0.139888,...,0.080054,0.820921,0.077813,0.675708,0.127045,0.197894,0.113316,0.865004,0.076526,2023-11-29 11:07:32.0
2,2,m36,m36,2008-08-27,0.703177,0.152102,0.767971,0.144831,0.362356,0.172866,...,0.076357,0.855074,0.079109,0.679160,0.114957,0.199337,0.126431,0.922456,0.056340,2023-11-29 11:07:32.0
3,2,m60,m60,2010-09-22,0.690505,0.152367,0.744650,0.156083,0.233303,0.143761,...,0.083423,0.827403,0.082034,0.685792,0.119317,0.188288,0.118015,0.888266,0.070254,2023-11-29 11:07:32.0
4,2,v06,m72,2011-09-19,0.762577,0.141896,0.693868,0.166775,0.299910,0.151150,...,0.070160,0.899992,0.061291,0.658535,0.114875,0.110237,0.087275,0.930412,0.054501,2023-11-29 11:07:32.0

In [53]:
embic_qcp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10868 entries, 0 to 10867
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   RID           10868 non-null  int64
 1   VISCODE       10868 non-null  object
 2   VISCODE2      10868 non-null  object
 3   EXAMDATE      10867 non-null  object
 4   N1M           10868 non-null  float64
 5   N1SD          10868 non-null  float64
 6   N2M           10868 non-null  float64
 7   N2SD          10868 non-null  float64
 8   N3M           10868 non-null  float64
 9   N3SD          10868 non-null  float64
 10  N4M           10868 non-null  float64
 11  N4SD          10868 non-null  float64
 12  R1M           10868 non-null  float64
 13  R1SD          10868 non-null  float64
 14  R2M           10868 non-null  float64
 15  R2SD          10868 non-null  float64
 16  R3M           10868 non-null  float64
 17  R3SD          10868 non-null  float64
 18  MIFR1M        10868 non-null  float64
 19  MIFR1SD       10868 non-null  float64
 20  MIFR2M        10868 non-null  float64
 21  MIFR2SD       10868 non-null  float64
 22  MIFR3M        10868 non-null  float64
 23  MIFR3SD       10868 non-null  float64
 24  MDFR1M        10868 non-null  float64
 25  MDFR1SD       10868 non-null  float64
 26  MTranM        10868 non-null  float64
 27  MTranSD       10868 non-null  float64
 28  MDuraM        10868 non-null  float64
 29  MDuraSD       10868 non-null  float64
 30  update_stamp  10868 non-null  object
dtypes: float64(26), int64(1), object(4)
memory usage: 2.6+ MB

In [54]:
fci_df.head()

,Phase,ID,RID,PTID,SITEID,VISCODE,VISCODE2,VISDATE,USERDATE,USERDATE2,...,BANKSTATA,BANKSTATB,EXPBANKSTATE,BANKSTAT32,BANKSTAT33,BANKSTAT34,BANKSTAT35,BANKSTAT36,BANKSTAT37,update_stamp
0,ADNI3,297,74,027_S_0074,20,init,m132,2017-01-17,2017-01-17,2017-01-17,...,2.0,NaN,1.0,2.0,2.0,0.0,2.0,2.0,2.0,2017-09-19 09:09:06.0
1,ADNI3,942,1078,037_S_1078,27,init,m120,2017-02-22,2017-02-23,2017-02-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-02 07:59:36.0
2,ADNI3,245,2183,027_S_2183,20,init,m72,2017-01-13,2017-01-17,2017-01-17,...,0.0,1.0,0.0,2.0,2.0,0.0,2.0,0.0,2.0,2017-09-19 09:09:06.0
3,ADNI3,425,2219,027_S_2219,20,init,m72,2017-01-24,2017-01-24,2017-01-24,...,0.0,1.0,1.0,99.0,2.0,0.0,2.0,2.0,2.0,2017-09-19 09:09:06.0
4,ADNI3,229,2245,027_S_2245,20,init,m72,2017-01-04,2017-01-06,2017-01-06,...,2.0,NaN,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2017-09-19 09:09:06.0

In [55]:
fci_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2588 entries, 0 to 2587
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Phase           2588 non-null   object
 1   ID              2588 non-null   int64
 2   RID             2588 non-null   int64
 3   PTID            2588 non-null   object
 4   SITEID          2588 non-null   int64
 5   VISCODE         2588 non-null   object
 6   VISCODE2        2577 non-null   object
 7   VISDATE         2577 non-null   object
 8   USERDATE        2588 non-null   object
 9   USERDATE2       2588 non-null   object
 10  MC_SCORE        2428 non-null   float64
 11  FC_SCORE        2388 non-null   float64
 12  SNGLCHKSCORE    2407 non-null   float64
 13  COMPLXCHKSCORE  2384 non-null   float64
 14  CHKCOMPOSTIME   2395 non-null   float64
 15  CHKCOMPOSSCORE  2376 non-null   float64
 16  BANKSTATSCORE   2397 non-null   float64
 17  TOTCOMPTIME     2321 non-null   float64
 18  FCISCORE        2323 non-null   float64
 19  DONE            2588 non-null   int64
 20  NDREASON        158 non-null    float64
 21  NICKELS         2429 non-null   float64
 22  QUARTERS        2429 non-null   float64
 23  BUDGET          2414 non-null   float64
 24  EXPMEDINS       2419 non-null   float64
 25  INSURANCE       2427 non-null   float64
 26  MEDINSTIME      2364 non-null   float64
 27  EXPINCTAX       2401 non-null   float64
 28  TAXCREDA        2420 non-null   float64
 29  QUES5TIME       2362 non-null   float64
 30  TAXCREDB        137 non-null    float64
 31  EXPCHECKREG     2399 non-null   float64
 32  PAYEE           2423 non-null   float64
 33  SNGLCHK7        2418 non-null   float64
 34  SNGLCHK8        2418 non-null   float64
 35  SNGLCHK9        2415 non-null   float64
 36  SNGLCHK10       2417 non-null   float64
 37  SNGLCHK11       2416 non-null   float64
 38  SNGLCHK12       2415 non-null   float64
 39  SNGLCHK13       2414 non-null   float64
 40  SNGLCHK14       2411 non-null   float64
 41  SNGLCHK15       2413 non-null   float64
 42  SNGLCHK16       2414 non-null   float64
 43  SNGLCHKTIME     2415 non-null   float64
 44  COMPLXCHK17     2403 non-null   float64
 45  COMPLXCHK18     2402 non-null   float64
 46  COMPLXCHK19     2401 non-null   float64
 47  COMPLXCHK20     2402 non-null   float64
 48  COMPLXCHK21     2398 non-null   float64
 49  COMPLXCHK22     2401 non-null   float64
 50  COMPLXCHK23     2399 non-null   float64
 51  COMPLXCHK24     2401 non-null   float64
 52  COMPLXCHK25     2401 non-null   float64
 53  COMPLXCHK26     2395 non-null   float64
 54  COMPLXCHK27     2401 non-null   float64
 55  COMPLXCHK28     2400 non-null   float64
 56  COMPLXCHK29     2401 non-null   float64
 57  COMPLXCHK30     2399 non-null   float64
 58  COMPLXCHKTIME   2396 non-null   float64
 59  BANKSTATA       2417 non-null   float64
 60  BANKSTATB       548 non-null    float64
 61  EXPBANKSTATE    2381 non-null   float64
 62  BANKSTAT32      2418 non-null   float64
 63  BANKSTAT33      2418 non-null   float64
 64  BANKSTAT34      2419 non-null   float64
 65  BANKSTAT35      2414 non-null   float64
 66  BANKSTAT36      2416 non-null   float64
 67  BANKSTAT37      2416 non-null   float64
 68  update_stamp    2588 non-null   object
dtypes: float64(57), int64(4), object(8)
memory usage: 1.4+ MB

In [56]:
gd_scale_df.head()

,Phase,ID,PTID,RID,SITEID,VISCODE,VISCODE2,VISDATE,USERDATE,USERDATE2,...,GDHOME,GDMEMORY,GDALIVE,GDWORTH,GDENERGY,GDHOPE,GDBETTER,GDTOTAL,GDDATE,update_stamp
0,ADNI1,6,011_S_0002,2,107,sc,sc,2005-08-17,2005-08-17,NaN,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,NaN,2005-08-17 00:00:00.0
1,ADNI1,8,011_S_0003,3,107,sc,sc,2005-08-18,2005-08-18,NaN,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,NaN,2005-08-18 00:00:00.0
2,ADNI1,10,022_S_0004,4,10,sc,sc,2005-08-18,2005-08-18,NaN,...,1.0,0.0,1.0,1.0,1.0,0.0,0.0,3.0,NaN,2005-08-18 00:00:00.0
3,ADNI1,12,011_S_0005,5,107,sc,sc,2005-08-23,2005-08-23,NaN,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,NaN,2005-08-23 00:00:00.0
4,ADNI1,14,022_S_0007,7,10,sc,sc,2005-08-25,2005-08-25,NaN,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,NaN,2005-08-25 00:00:00.0

In [57]:
gd_scale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12116 entries, 0 to 12115
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phase         12116 non-null  object
 1   ID            12116 non-null  int64
 2   PTID          12116 non-null  object
 3   RID           12116 non-null  int64
 4   SITEID        12116 non-null  int64
 5   VISCODE       12116 non-null  object
 6   VISCODE2      12103 non-null  object
 7   VISDATE       12108 non-null  object
 8   USERDATE      12116 non-null  object
 9   USERDATE2     3442 non-null   object
 10  EXAMDATE      3130 non-null   object
 11  GDSOURCE      12053 non-null  float64
 12  GDUNABL       12070 non-null  float64
 13  GDSATIS       11949 non-null  float64
 14  GDDROP        11949 non-null  float64
 15  GDEMPTY       11948 non-null  float64
 16  GDBORED       11948 non-null  float64
 17  GDSPIRIT      11949 non-null  float64
 18  GDAFRAID      11950 non-null  float64
 19  GDHAPPY       11949 non-null  float64
 20  GDHELP        11950 non-null  float64
 21  GDHOME        11946 non-null  float64
 22  GDMEMORY      11944 non-null  float64
 23  GDALIVE       11945 non-null  float64
 24  GDWORTH       11947 non-null  float64
 25  GDENERGY      11950 non-null  float64
 26  GDHOPE        11948 non-null  float64
 27  GDBETTER      11945 non-null  float64
 28  GDTOTAL       11929 non-null  float64
 29  GDDATE        1208 non-null   object
 30  update_stamp  12116 non-null  object
dtypes: float64(18), int64(3), object(10)
memory usage: 2.9+ MB

In [58]:
item_df.head()

,RID,VISCODE,ADAS_QuestionnaireNotAttempted,ADAS_Q1_T1_WL1_W1_butter,ADAS_Q1_T1_WL1_W2_arm,ADAS_Q1_T1_WL1_W3_shore,ADAS_Q1_T1_WL1_W4_letter,ADAS_Q1_T1_WL1_W5_queen,ADAS_Q1_T1_WL1_W6_cabin,ADAS_Q1_T1_WL1_W7_pole,...,TMT_PtA_Comission,TMT_PtA_Omission,TMT_PtB_Complete,TMT_PtB_Comission,TMT_PtB_Omission,TMT_ExamDate,WAISR_QuestionnaireNotAttempted,WAISR_Score,WAISR_ExamDate,update_stamp
0,2,bl,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,112.0,1.0,0.0,8/9/2005,0.0,34.0,8/9/2005,2011-09-28 16:04:59.0
1,2,m06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,125.0,0.0,0.0,6/3/2006,0.0,28.0,6/3/2006,2011-09-28 16:04:59.0
2,2,m12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-09-28 16:04:59.0
3,2,m18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-09-28 16:04:59.0
4,2,m24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-09-28 16:05:00.0

In [59]:
item_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5341 entries, 0 to 5340
Columns: 766 entries, RID to update_stamp
dtypes: float64(744), int64(1), object(21)
memory usage: 31.2+ MB

In [60]:
mmse_df.head()

,Phase,ID,PTID,RID,SITEID,VISCODE,VISCODE2,VISDATE,USERDATE,USERDATE2,...,WORDLIST,WORD1,WORD2,WORD3,WORD1DL,WORD2DL,WORD3DL,DATE,SOURCE,update_stamp
0,ADNI1,10,011_S_0002,2,107,sc,sc,2005-08-17,2005-08-17,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-08-17 00:00:00.0
1,ADNI1,12,022_S_0001,1,10,f,f,2005-08-18,2005-08-18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-08-18 00:00:00.0
2,ADNI1,14,011_S_0003,3,107,sc,sc,2005-08-18,2005-08-18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-08-18 00:00:00.0
3,ADNI1,16,022_S_0004,4,10,sc,sc,2005-08-18,2005-08-18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-08-18 00:00:00.0
4,ADNI1,18,011_S_0005,5,107,sc,sc,2005-08-23,2005-08-23,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-08-23 00:00:00.0

In [61]:
mmse_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13046 entries, 0 to 13045
Data columns (total 63 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phase         13046 non-null  object
 1   ID            13046 non-null  int64
 2   PTID          13046 non-null  object
 3   RID           13046 non-null  int64
 4   SITEID        13046 non-null  int64
 5   VISCODE       13046 non-null  object
 6   VISCODE2      13026 non-null  object
 7   VISDATE       13031 non-null  object
 8   USERDATE      13046 non-null  object
 9   USERDATE2     3577 non-null   object
 10  EXAMDATE      4282 non-null   object
 11  MMDATE        12975 non-null  float64
 12  MMYEAR        12975 non-null  float64
 13  MMMONTH       12974 non-null  float64
 14  MMDAY         12975 non-null  float64
 15  MMSEASON      12975 non-null  float64
 16  MMHOSPIT      12974 non-null  float64
 17  MMFLOOR       12975 non-null  float64
 18  MMCITY        12975 non-null  float64
 19  MMAREA        12975 non-null  float64
 20  MMSTATE       12975 non-null  float64
 21  MMBALL        10045 non-null  float64
 22  MMFLAG        10045 non-null  float64
 23  MMTREE        10045 non-null  float64
 24  MMTRIALS      10045 non-null  float64
 25  MMD           10042 non-null  float64
 26  MML           10042 non-null  float64
 27  MMR           10042 non-null  float64
 28  MMO           10042 non-null  float64
 29  MMW           10042 non-null  float64
 30  MMBALLDL      10044 non-null  float64
 31  MMFLAGDL      10044 non-null  float64
 32  MMTREEDL      10044 non-null  float64
 33  MMWATCH       12972 non-null  float64
 34  MMPENCIL      12972 non-null  float64
 35  MMREPEAT      12972 non-null  float64
 36  MMHAND        12970 non-null  float64
 37  MMFOLD        12970 non-null  float64
 38  MMONFLR       12969 non-null  float64
 39  MMREAD        12972 non-null  float64
 40  MMWRITE       12971 non-null  float64
 41  MMDRAW        12969 non-null  float64
 42  MMSCORE       12969 non-null  float64
 43  MMRECALL      5065 non-null   float64
 44  MMLTR1        2900 non-null   object
 45  MMLTR2        2895 non-null   object
 46  MMLTR3        2882 non-null   object
 47  MMLTR4        2872 non-null   object
 48  MMLTR5        2748 non-null   object
 49  MMLTR6        91 non-null     object
 50  MMLTR7        76 non-null     object
 51  WORLDSCORE    2913 non-null   float64
 52  DONE          2979 non-null   float64
 53  WORDLIST      2928 non-null   float64
 54  WORD1         2927 non-null   float64
 55  WORD2         2927 non-null   float64
 56  WORD3         2926 non-null   float64
 57  WORD1DL       2927 non-null   float64
 58  WORD2DL       2925 non-null   float64
 59  WORD3DL       2926 non-null   float64
 60  DATE          779 non-null    object
 61  SOURCE        775 non-null    float64
 62  update_stamp  13046 non-null  object
dtypes: float64(43), int64(3), object(17)
memory usage: 6.3+ MB

In [62]:
moca_df.head()

,Phase,ID,RID,PTID,VISDATE,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,...,DATE,MONTH,YEAR,DAY,PLACE,CITY,MOCA,MCDATE,SOURCE,update_stamp
0,ADNIGO,4,292,035_S_0292,2010-04-21,24,m48,m48,2010-05-27,NaN,...,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN,NaN,2012-11-16 09:41:13.0
1,ADNIGO,6,1326,016_S_1326,2010-05-12,12,m36,m36,2010-05-30,2011-08-04,...,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,2012-11-16 09:41:13.0
2,ADNIGO,8,376,023_S_0376,2010-05-14,17,m48,m48,2010-06-02,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,2012-11-16 09:41:13.0
3,ADNIGO,10,1117,016_S_1117,2010-06-24,12,m36,m36,2010-06-27,2011-11-08,...,0.0,0.0,1.0,0.0,1.0,1.0,NaN,NaN,NaN,2012-11-16 09:41:13.0
4,ADNIGO,12,618,031_S_0618,2010-06-25,21,m48,m48,2010-06-28,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,2012-11-16 09:41:13.0

In [63]:
moca_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7696 entries, 0 to 7695
Data columns (total 56 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phase         7696 non-null   object
 1   ID            7696 non-null   int64
 2   RID           7696 non-null   int64
 3   PTID          7696 non-null   object
 4   VISDATE       7689 non-null   object
 5   SITEID        7696 non-null   int64
 6   VISCODE       7696 non-null   object
 7   VISCODE2      7686 non-null   object
 8   USERDATE      7696 non-null   object
 9   USERDATE2     3507 non-null   object
 10  TRAILS        7592 non-null   float64
 11  CUBE          7590 non-null   float64
 12  CLOCKCON      7581 non-null   float64
 13  CLOCKNO       7579 non-null   float64
 14  CLOCKHAN      7578 non-null   float64
 15  LION          7599 non-null   float64
 16  RHINO         7598 non-null   float64
 17  CAMEL         7599 non-null   float64
 18  IMMT1W1       7578 non-null   float64
 19  IMMT1W2       7579 non-null   float64
 20  IMMT1W3       7578 non-null   float64
 21  IMMT1W4       7577 non-null   float64
 22  IMMT1W5       7589 non-null   float64
 23  IMMT2W1       7569 non-null   float64
 24  IMMT2W2       7578 non-null   float64
 25  IMMT2W3       7576 non-null   float64
 26  IMMT2W4       7575 non-null   float64
 27  IMMT2W5       7583 non-null   float64
 28  DIGFOR        7599 non-null   float64
 29  DIGBACK       7597 non-null   float64
 30  LETTERS       7578 non-null   float64
 31  SERIAL1       7572 non-null   float64
 32  SERIAL2       7556 non-null   float64
 33  SERIAL3       7549 non-null   float64
 34  SERIAL4       7546 non-null   float64
 35  SERIAL5       7543 non-null   float64
 36  REPEAT1       7599 non-null   float64
 37  REPEAT2       7597 non-null   float64
 38  FFLUENCY      7586 non-null   float64
 39  ABSTRAN       7583 non-null   float64
 40  ABSMEAS       7581 non-null   float64
 41  DELW1         7570 non-null   float64
 42  DELW2         7576 non-null   float64
 43  DELW3         7570 non-null   float64
 44  DELW4         7566 non-null   float64
 45  DELW5         7571 non-null   float64
 46  DATE          7589 non-null   float64
 47  MONTH         7589 non-null   float64
 48  YEAR          7588 non-null   float64
 49  DAY           7586 non-null   float64
 50  PLACE         7587 non-null   float64
 51  CITY          7587 non-null   float64
 52  MOCA          2483 non-null   float64
 53  MCDATE        744 non-null    object
 54  SOURCE        731 non-null    float64
 55  update_stamp  7696 non-null   object
dtypes: float64(44), int64(3), object(9)
memory usage: 3.3+ MB

In [64]:
modhach_df.head()

,Phase,ID,PTID,RID,SITEID,VISCODE,VISCODE2,VISDATE,USERDATE,USERDATE2,...,HMSOMATC,HMEMOTIO,HMHYPERT,HMSTROKE,HMNEURSM,HMNEURSG,HMSCORE,DATE,SOURCE,update_stamp
0,ADNI1,6,011_S_0002,2,107,sc,sc,2005-08-17,2005-08-17,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2005-08-17 00:00:00.0
1,ADNI1,8,011_S_0003,3,107,sc,sc,2005-08-18,2005-08-18,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,2005-08-18 00:00:00.0
2,ADNI1,10,022_S_0004,4,10,sc,sc,2005-08-18,2005-08-18,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,2005-08-18 00:00:00.0
3,ADNI1,12,011_S_0005,5,107,sc,sc,2005-08-23,2005-08-23,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2005-08-23 00:00:00.0
4,ADNI1,14,022_S_0007,7,10,sc,sc,2005-08-25,2005-08-26,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,2005-08-26 00:00:00.0

In [65]:
modhach_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3455 entries, 0 to 3454
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phase         3455 non-null   object
 1   ID            3455 non-null   int64
 2   PTID          3455 non-null   object
 3   RID           3455 non-null   int64
 4   SITEID        3455 non-null   int64
 5   VISCODE       3455 non-null   object
 6   VISCODE2      3455 non-null   object
 7   VISDATE       3455 non-null   object
 8   USERDATE      3455 non-null   object
 9   USERDATE2     1051 non-null   object
 10  EXAMDATE      1133 non-null   object
 11  HMONSET       3442 non-null   float64
 12  HMSTEPWS      3442 non-null   float64
 13  HMSOMATC      3443 non-null   float64
 14  HMEMOTIO      3442 non-null   float64
 15  HMHYPERT      3442 non-null   float64
 16  HMSTROKE      3442 non-null   float64
 17  HMNEURSM      3442 non-null   float64
 18  HMNEURSG      3442 non-null   float64
 19  HMSCORE       3441 non-null   float64
 20  DATE          172 non-null    object
 21  SOURCE        171 non-null    float64
 22  update_stamp  3455 non-null   object
dtypes: float64(10), int64(3), object(10)
memory usage: 620.9+ KB